@use '~@angular/material' as mat;
@import '~styles/mixins';
@import '~styles/colors';

:host {
    @include dialog();
    min-height: 280px;

    .mat-dialog-content {
        flex: 1;
    }

    .country-name {
        color: mat.get-color-from-palette($primary);
    }

    .change-country {
        color: mat.get-color-from-palette($primary);
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        cursor: pointer;
        user-select: none;
        margin: 0;

        .mat-icon {
            margin-left: -8px;
        }
    }

    table {
        width: 100%;

        tr {
            td:first-child {
                width: 48px;
            }
        }
    }
}
