@use '@angular/material' as mat;
@import '~styles/colors';

:host {
    display: block;
    pointer-events: all;

    .mat-icon-button.active {
        color: mat.get-color-from-palette($accent);
        background-color: white;
    }

    .gen-mapper-report-legend {
        position: fixed;
        top: 68px;
        left: 72px;
    }

    @media print {
        .mat-icon-button {
            display: none;
        }
    }
}

.gen-mapper-report-table {
    .report-value  {
        color: mat.get-color-from-palette($primary);
        min-width: 80px;
        padding-left: 10px;
        text-align: right;
    }
}
