<h1 mat-dialog-title>Edit
    <ng-container *ngIf="model.name || model.leaderName">
        [{{model.name || model.leaderName}}]
    </ng-container>
</h1>
<div mat-dialog-content>
    <app-edit-node-form [fields]="fields"
                        [nodes]="data.nodes"
                        [model]="model"
                        (change)="onFormChange($event)"></app-edit-node-form>
</div>
<div mat-dialog-actions>
    <button mat-button
            color="accent"
            cdkFocusInitial
            (click)="onSubmit()">
        {{'en_Save' | locale | async}}
    </button>
    <button mat-button
            color="primary"
            (click)="onImportSubtree()">
        {{'importSubtree' | locale | async}}
    </button>
    <button mat-button
            (click)="onCopyNode()">
        {{'editGroup.hoverCopyNode' | locale | async}}
    </button>

    <ng-container *ngIf="isNodeClipboard">
        <button mat-button
                (click)="onPasteNode()">
            {{'editGroup.hoverPasteNode' | locale | async}}
        </button>
    </ng-container>

    <div fxFlex></div>
    <button mat-button
            color="warn"
            (click)="onCancel()">
        {{'en_Cancel' | locale | async}}
    </button>
</div>
