@import '~styles/mixins';

:host {
    @include dialog();
    .mat-dialog-content {
        overflow: auto;
        margin: 0;
        padding: 0;
        padding: 10px 0;
    }

    .dialog-content-actions {
        margin-bottom: 24px;
        .mat-stroked-button {
            line-height: 24px;
        }
    }
}
