<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <app-sidenav-toggle></app-sidenav-toggle>
        </mat-toolbar-row>
        <mat-toolbar-row fxLayout="row"
                         fxLayoutAlign="center center">
            <app-npl-logo size="150"></app-npl-logo>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<section fxLayout="column"
         fxLayout.gt-sm="row wrap"
         fxLayoutAlign="center center"
         fxLayoutGap="24px">

    <mat-card [routerLink]="['/church-circles']">
        <img mat-card-image
             height="290px"
             src="assets/gen-mapper-example-church-circles.png"
             alt="Photo of a Church Circles">
        <mat-card-header>
            <mat-card-title>
                Church Circles
            </mat-card-title>
            <mat-card-subtitle>
                Generation Map
            </mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card [routerLink]="['/four-fields']">
        <img mat-card-image
             height="290px"
             src="assets/gen-mapper-example1.png"
             alt="Photo of a Four Fields">
        <mat-card-header>
            <mat-card-title>
                Four Fields
            </mat-card-title>
            <mat-card-subtitle>
                Generation Map
            </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</section>
