:host {
    display: flex;
    flex-direction: column;

    .mat-toolbar {
        background-color: rgba(0,0,0,0.3);
    }

    img {
        width: 100px;
        height: 100px;
        z-index: 10;
    }

    @media screen and (min-width: 768px) {
        img {
            width: 250px;
            height: 250px;
        }
    }

    h1 {
        font-size: 56px;
        margin-left: 10px;
    }

    section {
        padding: 16px;
    }

    .mat-nav-list {
        max-width: 1200px;
        margin: 0 auto;
    }

    .mat-list-item h4 {
        font-weight: bold;
    }
}
