:host {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    @media screen and (min-width: 768px) {
        .default {
            padding: 40px;
        }
    }

    .mat-list-item h4 {
        font-weight: bold;
    }
}