<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <app-sidenav-toggle></app-sidenav-toggle>
            <span>NPL Tools</span>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<section fxLayout="column"
         fxLayoutGap="5px"
         fxLayoutAlign="center center"
         fxLayoutAlign.lt-md="start start">
    <h1>{{'Common_GenMapper' | locale | async}}</h1>
    <!-- <h4>I pray these tools serve you to advance Jesus' kingdom.</h4> -->
    <!-- <p>Please select gen map variant:</p> -->
</section>

<section fxLayout="row wrap"
         fxLayout.lt-md="column"
         fxLayoutAlign.gt-sm="center center"
         fxLayoutGap="24px">

    <ng-container *ngFor="let template of templatesWithIcons">
        <mat-card [routerLink]="['/' + template.id]">
            <img mat-card-image
                 [src]="template.settings.iconUrl"
                 alt="Photo of a Church Circles">
            <mat-card-header fxLayoutAlign="start center">
                <mat-card-title>
                    {{template.name}}
                </mat-card-title>
                <mat-card-subtitle>
                    Generation Map
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </ng-container>

</section>
<section fxLayout="column"
         fxLayoutAlign="center center">
    <h4>{{'Common_AdditionalGenMappers' | locale | async}}</h4>
    <ul>
        <li *ngFor="let template of templateWithoutIcons">
            <a [routerLink]="['/' + template.id]">
                {{template.name}}
            </a>
        </li>
    </ul>
    <p class="mute">Additional GenMappers are temporarily unavailable</p>
</section>
