:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .mat-toolbar {
        background-color: transparent;
    }

    img {
        z-index: 101;
    }

    h1 {
        margin: 0;
        font-size: 56px;
    }

    h3, h4, p {margin: 0}

    ul {
        padding: 0;
        list-style: none;
        text-align: center;
        line-height: 24px;
    }

    section {
        padding: 0 16px 16px 16px;

        .mat-card {
            outline: none;
            width: 250px;
            margin-bottom: 24px;
            cursor: pointer;
            transition: box-shadow 0.1s ease-out 0s;

            &:hover {
                box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
            }
        }
    }

    .mat-nav-list {
        max-width: 1200px;
        margin: 0 auto;
    }

    .mat-list-item h4 {
        font-weight: bold;
    }


    .device-handheld & {
        h1 {
            text-align: left;
        }

        .mat-card {
            flex: 1;
            display: flex;
            flex-direction: row;

            img.mat-card-image {
                width: 100px !important;
                height: 100px  !important;
                margin: -16px 8px -16px -16px;
            }
        }
    }

    footer {
        margin-top: auto;
        font-size: 24px;
    }
}
