<header>
    <mat-toolbar>
        <app-sidenav-toggle></app-sidenav-toggle>
        Tools
    </mat-toolbar>
</header>

<section>
    <mat-nav-list>
        <mat-list-item [routerLink]="['/church-circles']">
            <h4 mat-line>Church Circles</h4>
            <p mat-line> Generation Map </p>
            <mat-icon>chevron_right</mat-icon>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
        <mat-list-item [routerLink]="['/four-fields']">
            <h4 mat-line>Four Fields</h4>
            <p mat-line> Generation Map </p>
            <mat-icon>chevron_right</mat-icon>
        </mat-list-item>
    </mat-nav-list>
</section>