@import "~styles/colors";

:host {
    display: flex;
    flex-direction: column;

    .scroll-container {
        position: relative;
        flex: 1;
    }

    .mat-toolbar {
        flex: 0 0 auto;
        box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.2);
        background: white;
        position: sticky;
        top: 0;
        z-index: 2;

        .mat-icon-button {
            border: 1px solid mat-color($primary);
        }
    }

    .add-button {
        margin-right: 16px;
    }

    .mat-nav-list {
        flex: 1;
    }

    .mat-list-item.active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
