<div fxLayout="column"
     fxLayoutGap="24px">
    <app-npl-logo size="100"></app-npl-logo>
    <ng-container *ngIf="!passwordChanged">
        <form fxLayout="column"
              fxLayoutAlign="center center"
              [formGroup]="form"
              (submit)="onSubmit($event)"
              *ngIf="form">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{'Message_enterNewPassword' | translate}}
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content fxLayout="column"
                                  fxLayoutGap="24px">

                    <mat-form-field>
                        <mat-label>
                            {{'Common_NewPassword' | translate}}
                        </mat-label>
                        <input matInput
                               formControlName="password"
                               type="password" />

                        <mat-error *ngIf="form.controls.password.errors?.required">
                            {{'Error_requiredField' | translate}}
                        </mat-error>

                        <mat-error *ngIf="form.controls.password.errors?.minlength">
                            {{'Error_valueIsTooShort' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>
                            {{'Common_ConfirmPassword' | translate}}
                        </mat-label>
                        <input matInput
                               formControlName="confirm"
                               type="password" />

                        <mat-error *ngIf="form.controls.confirm.errors?.required">
                            {{'Error_requiredField' | translate}}
                        </mat-error>

                        <mat-error *ngIf="form.controls.confirm.errors?.invalidPasswordMatch">
                            {{'Error_passwordsDontMatch' | translate}}
                        </mat-error>

                        <mat-error *ngIf="form.controls.confirm.errors?.minlength">
                            {{'Error_valueIsTooShort' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <div fxLayout="row"
                         fxLayoutGap="15px">
                        <button mat-raised-button
                                color="primary"
                                type="submit">
                            {{'Common_Save' | translate}}
                        </button>
                        <a mat-button
                           color="primary"
                           type="button"
                           [routerLink]="['/login']">
                            {{'Common_Cancel' | translate}}
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </ng-container>
    <ng-container *ngIf="passwordChanged">
        <div fxLayout="column"
             fxLayoutAlign="center center">

            <div fxLayout="column"
                 fxLayoutGap="24px">
                <h1>
                    {{'Common_Success' | translate}}
                </h1>
                <p>
                    {{'Message_passwordResetSuccess' | translate}}
                </p>
                <div>
                    <button mat-stroked-button
                            color="primary"
                            type="button"
                            [routerLink]="['/login']">
                        {{'Common_ReturnToLogin' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
