<div fxLayout="column"
     fxLayoutGap="24px">
    <app-npl-logo size="100"></app-npl-logo>
    <ng-container *ngIf="!passwordChanged">
        <form fxLayout="column"
              fxLayoutAlign="center center"
              [formGroup]="form"
              (submit)="onSubmit($event)"
              *ngIf="form">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{'messages.enterNewPassword' | locale | async}}
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content fxLayout="column"
                                  fxLayoutGap="24px">

                    <mat-form-field>
                        <mat-label>
                            {{'en_NewPassword' | locale | async}}
                        </mat-label>
                        <input matInput
                               formControlName="password"
                               type="password" />

                        <mat-error *ngIf="form.controls.password.errors?.required">
                            {{'errors.requiredField' | locale | async}}
                        </mat-error>

                        <mat-error *ngIf="form.controls.password.errors?.minlength">
                            {{'errors.valueIsTooShort' | locale | async}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>
                            {{'en_ConfirmPassword' | locale | async}}
                        </mat-label>
                        <input matInput
                               formControlName="confirm"
                               type="password" />

                        <mat-error *ngIf="form.controls.confirm.errors?.required">
                            {{'errors.requiredField' | locale | async}}
                        </mat-error>

                        <mat-error *ngIf="form.controls.confirm.errors?.invalidPasswordMatch">
                            {{'errors.passwordsDontMatch' | locale | async}}
                        </mat-error>

                        <mat-error *ngIf="form.controls.confirm.errors?.minlength">
                            {{'errors.valueIsTooShort' | locale | async}}
                        </mat-error>
                    </mat-form-field>

                    <div fxLayout="row"
                         fxLayoutGap="15px">
                        <button mat-raised-button
                                color="primary"
                                type="submit">
                            {{'en_Save' | locale | async}}
                        </button>
                        <a mat-button
                           color="primary"
                           type="button"
                           [routerLink]="['/login']">
                            {{'en_Cancel' | locale | async}}
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </ng-container>
    <ng-container *ngIf="passwordChanged">
        <div fxLayout="column"
             fxLayoutAlign="center center">

            <div fxLayout="column"
                 fxLayoutGap="24px">
                <h1>
                    {{'en_Success' | locale | async}}
                </h1>
                <p>
                    {{'messages.passwordResetSuccess' | locale | async}}
                </p>
                <div>
                    <button mat-stroked-button
                            color="primary"
                            type="button"
                            [routerLink]="['/login']">
                        {{'en_ReturnToLogin' | locale | async}}
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
