<header>
    <mat-toolbar>
        <app-sidenav-toggle></app-sidenav-toggle>

        <ng-container *ngIf="document">
            <div fxFlex
                 class="doc-name">
                <input type="text"
                       matInput
                       placeholder="Name"
                       autocomplete="off"
                       [formControl]="form.get('title')"
                       [class.is-error]="form.controls.title.errors">

                <mat-error *ngIf="form.controls.title.errors?.required">
                    {{'errors.requiredField' | locale | async}}
                </mat-error>

                <mat-error *ngIf="form.controls.title.errors?.minlength">
                    Value is too short
                </mat-error>
            </div>

            <button mat-icon-button
                    (click)="matdrawer.toggle()">
                <mat-icon *ngIf="matdrawer.opened">clear</mat-icon>
                <mat-icon *ngIf="!matdrawer.opened">filter_list</mat-icon>
            </button>
            <button mat-icon-button
                    [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item
                        (click)="onImport()">
                    <mat-icon>attachment</mat-icon>
                    {{'menu.importXlsxCsv' | locale | async}}
                </button>
                <button mat-menu-item
                        (click)="onExport()">
                    <mat-icon>cloud_download</mat-icon>
                    {{'menu.exportCsv' | locale | async}}
                </button>
                <button mat-menu-item>
                    <mat-icon>print</mat-icon>
                    {{'menu.btnPrintHorizontal' | locale | async}}
                </button>
                <button mat-menu-item
                        (click)="onDelete()">
                    <mat-icon>delete</mat-icon>
                    {{'menu.btnDelete' | locale | async}}
                </button>
            </mat-menu>
        </ng-container>
        <mat-progress-bar *ngIf="isLoading"
                          mode="indeterminate"></mat-progress-bar>
    </mat-toolbar>
</header>

<mat-drawer-container autosize
                      fxFlex>
    <mat-drawer #matdrawer
                [opened]="documents.length > 0"
                mode="side"
                position="end"
                fxLayout="column">

        <mat-toolbar color="none">
            <button mat-mini-fab
                    (click)="onCreateDocument()">
                <mat-icon>add</mat-icon>
            </button>
            <div>
                {{'documentsTitle' | locale | async}}
            </div>
            <div fxFlex></div>
        </mat-toolbar>
        <div class="scroll-container">
            <app-tool-nav-list fxFlex
                               (select)="onSelectDocument($event)"
                               [documents]="documents"
                               [documentId]="document?.id"></app-tool-nav-list>
        </div>
    </mat-drawer>

    <mat-drawer-content fxLayout="column">
        <ng-container *ngIf="documents.length else emptyState">
            <app-gen-mapper-graph class="{{template.name}}"
                                  (change)="onGraphChange($event)"
                                  [document]="document"
                                  [template]="template"></app-gen-mapper-graph>
        </ng-container>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #emptyState>
    <div class="empty-state"
         fxFlex
         fxLayout="column"
         fxLayoutAlign="center center">
        <div>
            <mat-icon>warning</mat-icon>
        </div>
        <h1 i18n="en-You_have_no_saved_documents">
            You have no saved documents!
        </h1>
        <div fxLayout="row"
             fxLayoutGap="24px">
            <button mat-raised-button
                    color="accent"
                    (click)="onCreateDocument()"
                    i18n="en-Create_Document">
                Create Document
            </button>
            <button mat-raised-button
                    color="accent"
                    (click)="onImport()"
                    i18n="en-Import_Document">
                Import Document
            </button>
        </div>
    </div>
</ng-template>
