@import '~styles/colors';

:host {
    h2 {
        margin: 3px 0;
    }

    .warning {
        color: mat-color($secondary);
    }

    @media screen and (min-width: 768px) {
        img {
            max-width: 400px;
            border: 4px solid lightgray;
        }
    }
}
