@use '@angular/material' as mat;
@import "~styles/colors";

:host {
    h1 {
        color: mat.get-color-from-palette($accent);
        text-align: center;
        text-decoration: underline;
    }

    h2 {
        margin: 3px 0;
    }

    .warning {
        color: mat.get-color-from-palette($secondary);
    }

    @media screen and (min-width: 768px) {
        img {
            max-width: 400px;
            border: 4px solid lightgray;
        }

        img.stretch {
            max-width: 800px;
        }
    }
}
