<div mat-dialog-title>
    Whats New?
</div>

<div mat-dialog-content
     fxLayout="column"
     fxLayoutGap="24px">

    <h1>May 2021</h1>
    <div>
        <h2>Language Support for the following languages</h2>
        <div>
            <p>
                <ng-container *ngFor="let lang of languages; let last=last">
                    <span>{{lang.code}}</span>
                    <ng-container *ngIf="!last">, </ng-container>
                </ng-container>
            </p>
        </div>
    </div>
    <div>
        <h2>Team Support for GAPP Migration</h2>
        <p>You can now create a team and invite other members to join your team.</p>
        <p>Creating a team will help organizations and networks safely migrate their data.</p>
    </div>

    <mat-divider></mat-divider>

    <h1>March 2021</h1>
    <div>
        <h2>GenMapper 2.0 Coming Soon</h2>

        <p>GenMapper will be released and branded as <strong>GAPP</strong> (Gospel to all Peoples and Places).</p>

        <p>To stay up to date please click the following link.</p>

        <a href="https://gapp.taethni.com"
           target="_blank">
            GAPP / GenMapper 2.0
        </a>
    </div>

    <mat-divider></mat-divider>

    <h1>June 2020</h1>
    <div>
        <h2>Drag & Drop sorting Groups</h2>

        <p>You can now drag and drop groups to sort and organize them to your preference.</p>

        <img src="assets/images/drag-drop-sort.png"
             width="100%"
             class="stretch">
    </div>

    <mat-divider></mat-divider>

    <div>
        <h2>People Group Selector</h2>

        <p>
            The people group selector is finally here.
        </p>
        <p>
            <strong>NOTE:</strong> Any existing data revolving around <strong>Attendees, Believers, Baptized, Newly
                Baptized</strong> has been moved to an <i>Unknown</i> People Group.
        </p>
        <p>
            <strong>NOTE:</strong> We have pre-populated your People Group data with any previously selected people
            groups from the old system before 2019.
        </p>

        <p>
            The sidebar now has tabs at the top, that will let you choose between inputting people or general info
        </p>

        <img src="assets/images/list-people-groups.png"
             width="100%"
             class="stretch">

        <p>
            You can <i>Add, Update, or Remove</i> any selected people group.
        </p>

        <img src="assets/images/select-people-group.png"
             width="100%"
             class="stretch">

        <p>
            Once a People Group has been selected, you can modify the <strong>Attendees, Believers, Baptized</strong>
        </p>

        <p>
            <strong>NOTE:</strong> We used sliders for <strong>Believers, Baptized, and Newly Baptized</strong> to
            prevent the numbers from being invalid.
            <br>
            You cannot have more Believers than Attendees.
            <br>
            You cannot have more Baptized than Believers.
            <br>
            You cannot have more Newly Baptized than Baptized.
        </p>

        <img src="assets/images/update-people-group-info.png"
             width="100%"
             class="stretch">
    </div>

    <mat-divider></mat-divider>

    <h1>March 2020</h1>

    <div>
        <h2>User Agreement</h2>

        <p>
            Please Accept the User Agreement for further integrations with new <strong>GenMapper 2.0</strong>. User
            Agreement is found in the user account page.
        </p>
    </div>

    <mat-divider></mat-divider>

    <h1>January 2020</h1>

    <div>
        <h2>Copy & Paste & Import Subtree Changed</h2>

        <p>
            <strong>Previously:</strong> pasting or importing a subtree would replace the selected node.
            This was causing issues with some users who would accidentally delete data. So we have changed the
            functionality of Paste & Import Subtree.
        </p>

        <p>
            <strong>Import:</strong> You can now only import data as a child node of the selected node.
        </p>


        <p>
            <strong>Paste:</strong> You can choose between pasting as a child or replacing the entire Node and all it's
            Descendants.
        </p>

        <img src="assets/images/copy-paste.png"
             width="100%">

        <div class="warning">
            <h3>Deprecation Warning</h3>
            <p>Copy & Paste & Import will soon be deprecated, in place of being able to link gen-maps together.</p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div>
        <h2>Country Selector</h2>
        <p>You can now select the country that the Group is located in.</p>
        <img src="assets/images/country-selector.png"
             width="100%">
    </div>

    <mat-divider></mat-divider>

    <div>
        <h2>Enhanced Geo Location Selector</h2>
        <p>You can now simply type in a ZipCode or PinCode and the app will use the central Latitude and Longitude.</p>
        <img src="assets/images/zip-code-selector.png"
             width="100%">
    </div>

    <mat-divider></mat-divider>

    <div>
        <h2>People Groups Picker (deprecated)</h2>
        <p>Unfortunately, we were not capturing people groups accurately.</p>
        <p>
            The People Groups selector has been removed. We apologize for the inconvenience and the loss of data.
        </p>
        <p>
            We will be coming out with a more accurate People Groups selector soon.
        </p>
        <p>
            Having an accurate People Groups selector will allow us to contribute People Group Data to the People Groups
            Project API.
        </p>
    </div>

    <mat-divider></mat-divider>

    <div>
        <h2>New Date Picker</h2>
        <p>We have added a new date picker that will allow you to select the specific Year and Month.</p>
        <img src="assets/images/date-picker.png"
             width="100%">

        <p>
            The Original Date field has been deprecated, because the date format was incorrect and prevented us from
            creating accurate statistics.
        </p>

        <p>We ask that you go to each group, and select the proper date using the new date picker.</p>
        <p>Your original date will still be viewable. Once you pick the appropriate date, please click the red X button
            to remove the old date.</p>

        <img src="assets/images/deprecated-date-picker.png"
             width="100%">
    </div>

    <mat-divider></mat-divider>

    <div>
        <h2>Whats New Popup</h2>
        <p>We have added a popup that notifies you about new changes to the app.</p>

        <img src="assets/images/whats-new.png"
             width="100%">
    </div>

    <mat-divider></mat-divider>

    <div>
        <h2>Please provide Feedback</h2>
        <p>
            If you experience any difficulties or have any feature requests, please let us know by clicking the feedback
            button in the left sidebar.
        </p>
        <img src="assets/images/feedback.png"
             width="100%" />
    </div>
</div>

<div mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="end center">
    <button mat-flat-button
            color="primary"
            [mat-dialog-close]="true">
        {{'Common_Ok' | translate}}
    </button>
</div>
