<div fxLayout="column"
     fxLayoutGap="24px">
    <app-npl-logo size="100"></app-npl-logo>
    <form fxLayout="column"
          fxLayoutAlign="center center"
          [formGroup]="form"
          (submit)="onSubmit($event)">

        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{'Common_CreateAccount' | locale | async}}
                </mat-card-title>
            </mat-card-header>

            <mat-card-content fxLayout="column"
                              fxLayoutGap="24px">

                <mat-form-field>
                    <mat-label>
                        {{'Common_Email' | locale | async}}
                    </mat-label>
                    <input matInput
                           formControlName="email"
                           type="email"
                           placeholder="name@example.com"
                           required />

                    <mat-error *ngIf="form.controls.email.errors?.required">
                        {{'Error_requiredField' | locale | async}}
                    </mat-error>

                    <mat-error *ngIf="form.controls.email.errors?.emailInUse">
                        {{'Error_emailInUse' | locale | async}}
                    </mat-error>

                    <mat-error *ngIf="form.controls.email.errors?.pattern">
                        {{'Error_emailFormat' | locale | async}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>
                        {{'Common_Username' | locale | async}}
                    </mat-label>
                    <input matInput
                           formControlName="username"
                           type="text"
                           autocomplete="off" />

                    <mat-hint>
                        {{'Message_uniqueUsername' | locale | async}}
                    </mat-hint>

                    <mat-error *ngIf="form.controls.username.errors?.minlength">
                        {{'Error_valueIsTooShort' | locale | async}}
                    </mat-error>

                    <mat-error *ngIf="form.controls.username.errors?.usernameInUse">
                        {{form.controls.username.errors?.usernameInUse}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>
                        {{'Common_Password' | locale | async}}
                    </mat-label>
                    <input matInput
                           formControlName="password"
                           type="password"
                           required />

                    <mat-error *ngIf="form.controls.password.errors?.required">
                        {{'Error_requiredField' | locale | async}}
                    </mat-error>

                    <mat-error *ngIf="form.controls.password.errors?.minlength">
                        {{'Error_valueIsTooShort' | locale | async}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>
                        {{'Common_ConfirmPassword' | locale | async}}
                    </mat-label>
                    <input matInput
                           formControlName="confirm"
                           type="password"
                           required />

                    <mat-error *ngIf="form.controls.confirm.errors?.required">
                        {{'Error_requiredField' | locale | async}}
                    </mat-error>

                    <mat-error *ngIf="form.controls.confirm.errors?.invalidPasswordMatch">
                        {{'Error_passwordsDontMatch' | locale | async}}
                    </mat-error>

                    <mat-error *ngIf="form.controls.confirm.errors?.minlength">
                        {{'Error_valueIsTooShort' | locale | async}}
                    </mat-error>
                </mat-form-field>

                <div fxLayout="row"
                     fxLayoutGap="15px">
                    <button mat-raised-button
                            color="primary"
                            type="submit">
                        {{'Common_CreateAccount' | locale | async}}
                    </button>
                    <a mat-button
                       color="primary"
                       type="button"
                       [routerLink]="['/login']">
                        {{'Common_Cancel' | locale | async}}
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>
