<header *ngIf="isAuthenticated">
    <!-- <mat-form-field>
        <input matInput
               type="text"
               [formControl]="form.get('name')" />
    </mat-form-field> -->
</header>

<ng-container *ngIf="document else defaultView">
    <app-gen-mapper-graph [template]="template"></app-gen-mapper-graph>
</ng-container>

<ng-template #defaultView>
    <div fxFlex
         fxLayout="row"
         class="default">

        <div fxLayout="column"
             fxFlex
             fxLayoutGap="30px">

            <div fxLayout="row"
                 class="message">
                Please select a gen map, or create a create a new one.
            </div>

            <div fxLayout="row"
                 fxLayoutGap="5px">
                <button mat-raised-button
                        color="accent"
                        (click)="createNew()">
                    Create Gen Map
                </button>
            </div>

            <mat-nav-list>
                <h3 mat-subheader>Documents</h3>
                <mat-list-item *ngFor="let doc of documents"
                               (click)="selectDocument(doc)">
                    <h4 mat-line>{{doc.title}}</h4>
                    <p mat-line> {{doc.createdAt | date}} </p>
                    <mat-icon>chevron_right</mat-icon>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>
</ng-template>