@import '~styles/colors';

:host {
    display: block;

    mat-drawer-container {
        z-index: unset;
    }

    mat-drawer {
        width: 80vw;

        @media screen and (min-width: 768px) {
            width: 400px;
        }
    }

    app-map-name-control {
        position: absolute;
        top: 0;
        left: 62px;
        right: 62px;
        margin: 16px 0;
        z-index: 2;
        backface-visibility: hidden;
    }

    app-map-menu-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 16px;
        z-index: 2;
        backface-visibility: hidden;
    }

     .empty-state {

        h1 {
            text-align: center;
            font-size: 24px;
            font-weight: normal;
        }

        .login-link {
            margin-bottom: 24px;
        }

        .mat-icon {
            color: rgba(mat-color($accent), 0.3);
            font-size: 200px;
            height: 200px;
            width: 200px;
            user-select: none;

            &.warn {
                color: rgba(mat-color($warn), 0.3);
            }
        }
    }

    app-gen-mapper-graph.church-circles,
    app-gen-mapper-graph.church-circles-czech {
        ::ng-deep {
            .node-church-box {
                stroke: black;
                stroke-width: 2;
            }

            .is-church {
                stroke-dasharray: 0;
            }

            .is-not-church {
                stroke-dasharray: 7,7;
            }

            .church-legacy {
                stroke-width: 4;
                stroke: green;
            }
        }
    }

    app-gen-mapper-graph.four-fields::ng-deep {
        .node:hover > rect, .node:hover > line {
            stroke-width: 2px;
        }

        .node--active > rect, .node--active > line {
            stroke: black;
        }
    }

    app-gen-mapper-graph.disciples::ng-deep {
        .node-box {
            stroke: black;
            stroke-width: 2;
            fill: white;
        }

        .node-date {
            font-size: 8px;
        }

        .node-timothy {
            stroke: red;
            stroke-width: 1;
            fill: red;
        }

        .disciple-individual {
            stroke-dasharray: 7,7;
        }

        .disciple-facilitates-group {
            stroke-dasharray: 0;
        }

        .disciple-facilitates-church {
            stroke-dasharray: 0;
            stroke-width: 4;
        }
    }

    app-gen-mapper-graph.movementeer::ng-deep {
        .node > rect {
            stroke-width: 3px;
        }

        .node:hover > rect, .node:hover > line {
            stroke-width: 4px;
        }

        .full-time-missionary {
            stroke: #FD0402;
        }

        .existing-lay-believer {
            stroke: #3D7AD3;
        }

        .leaders-disciple {
            stroke: #5EA650;
        }
    }
}
