<ng-container *ngIf="document; then genMapperGraph else emptyState"></ng-container>
<ng-template #genMapperGraph>
    <app-gen-mapper-graph class="{{template.name}}"
                          (change)="onGraphChange($event)"
                          [document]="document"
                          [template]="template"></app-gen-mapper-graph>
</ng-template>
<ng-template #emptyState>
    <div class="empty-state"
         fxFlex
         fxLayout="column"
         fxLayoutAlign="center center">


        <div>
            <mat-icon>warning</mat-icon>
        </div>

        <ng-container *ngIf="isAuthenticated">
            <ng-container *ngIf="documents.length === 0">
                <h1 i18n="en-You_have_no_saved_documents">
                    {{'noSavedDocuments' | locale | async}}
                </h1>
            </ng-container>

            <ng-container *ngIf="documents.length > 0">
                <h1 i18n="en-Please_select_a_document">
                    {{'selectADocument' | locale | async}}
                </h1>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!isAuthenticated">
            <h1 i18n="en-Please_log_in_to_save_documents">
                {{'signInToSaveDocuments' | locale | async}}
            </h1>
        </ng-container>


        <div fxLayout="row"
             fxLayoutGap="24px">
            <button mat-raised-button
                    color="accent"
                    (click)="onCreateDocument()"
                    i18n="en-Create_Document">
                <ng-container *ngIf="isAuthenticated">
                    {{'createDocument' | locale | async}}
                </ng-container>

                <ng-container *ngIf="!isAuthenticated">
                    {{'createTemporaryDocument' | locale | async}}
                </ng-container>
            </button>
            <button mat-raised-button
                    color="accent"
                    (click)="onImport()"
                    i18n="en-Import_Document">
                {{'importDocument' | locale | async}}
            </button>
        </div>
    </div>
</ng-template>
