<mat-drawer-container (backdropClick)="nodeDrawer.onBackdropClick()"
                      [class.show-map-view]="showMapView"
                      [class.show-reports-view]="showReportsView">
    <mat-drawer position="end"
                fxLayout="column"
                class="node-drawer"
                [autoFocus]="false"
                (openedChange)="onNodeDrawerOpenChanged($event)">
        <app-node-drawer #nodeDrawer
                         [documents]="documents"
                         [document]="document"
                         [template]="template"
                         [node]="node"
                         [hideActions]="view === viewTypes.WorldMap"
                         (copyNode)="onCopyNode($event)"
                         (pasteNode)="onPasteNode($event)"
                         (updateNode)="onUpdateNode($event)"
                         (importSubtree)="onImportSubtree($event)"></app-node-drawer>
    </mat-drawer>

    <mat-drawer-content>
        <ng-container *ngIf="document; then genMapperGraph else emptyState"></ng-container>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #genMapperGraph>
    <ng-container *ngIf="document">
        <app-map-name-control [showErrors]="isAuthenticated"></app-map-name-control>
        <app-map-menu-button [document]="document"
                             [template]="template"
                             (print)="onPrint($event)"
                             (settingsButtonClick)="setView(viewTypes.Settings)"></app-map-menu-button>

        <ng-container *ngIf="view === viewTypes.GenMap && showReportsView">
            <app-map-report-legend [template]="template"
                                   [document]="document"></app-map-report-legend>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="showMapView">
        <app-gm-world-map-toggle [view]="view"
                                 (mapIconClick)="setView(viewTypes.WorldMap)"
                                 (backIconClick)="setView(viewTypes.GenMap)"></app-gm-world-map-toggle>
    </ng-container>

    <ng-container *ngIf="showReportsView">
        <app-gm-reports-toggle [view]="view"
                               (reportsIconClick)="setView(viewTypes.Reports)"
                               (backIconClick)="setView(viewTypes.GenMap)">
        </app-gm-reports-toggle>
    </ng-container>

    <ng-container [ngSwitch]="view">
        <ng-container *ngSwitchCase="viewTypes.Settings">
            <app-gm-settings [document]="document"
                             [template]="template"
                             (cancelClick)="setView(viewTypes.GenMap)">
            </app-gm-settings>
        </ng-container>
        <ng-container *ngSwitchCase="viewTypes.Reports">
            <app-gm-reports [document]="document"
                            [template]="template">
            </app-gm-reports>
        </ng-container>
        <ng-container *ngSwitchCase="viewTypes.WorldMap">
            <app-gen-mapper-map [document]="document"
                                [template]="template"
                                (nodeClick)="onNodeClick($event)"></app-gen-mapper-map>
        </ng-container>
        <ng-container *ngSwitchCase="viewTypes.GenMap">
            <app-gen-mapper-graph class="{{template.name}}"
                                  [document]="document"
                                  [template]="template"
                                  (change)="onGraphChange($event)"
                                  (nodeClick)="onNodeClick($event)"></app-gen-mapper-graph>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <h1>OOPS</h1>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #emptyState>
    <div class="empty-state"
         fxFlex
         fxLayout="column"
         fxLayoutAlign="center center">

        <div>
            <mat-icon [class.warn]="!isAuthenticated">warning</mat-icon>
        </div>

        <ng-container *ngIf="isAuthenticated">
            <ng-container *ngIf="documents.length === 0">
                <h1 i18n="en-You_have_no_saved_documents">
                    {{'noSavedDocuments' | locale | async}}
                </h1>
            </ng-container>

            <ng-container *ngIf="documents.length > 0">
                <h1 i18n="en-Please_select_a_document">
                    {{'selectADocument' | locale | async}}
                </h1>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!isAuthenticated">
            <div fxLayout="column"
                 fxLayoutAlign="center center"
                 class="context">
                <h1>
                    {{'pleaseLoginIn' | locale | async}}
                </h1>

                <div class="login-link">
                    <a [routerLink]="['/login']">
                        - {{'en_Login' | locale | async}} -
                    </a>
                </div>
            </div>
        </ng-container>

        <div fxLayout="row"
             fxLayoutGap="24px">
            <button mat-raised-button
                    color="accent"
                    (click)="onCreateDocument()"
                    i18n="en-Create_Document">
                <ng-container *ngIf="isAuthenticated">
                    {{'createDocument' | locale | async}}
                </ng-container>

                <ng-container *ngIf="!isAuthenticated">
                    {{'continueWithoutSaving' | locale | async}}
                </ng-container>
            </button>

            <ng-container *ngIf="isAuthenticated">
                <button mat-raised-button
                        color="accent"
                        (click)="onImport()"
                        i18n="en-Import_Document">
                    {{'importDocument' | locale | async}}
                </button>
            </ng-container>
        </div>
    </div>
</ng-template>
