<!-- <div class="pic-box"></div> -->

<mat-drawer-container (backdropClick)="nodeDrawer.onBackdropClick()"
                      [class.show-map-view]="showMapView"
                      [class.show-reports-view]="showReportsView">
    <mat-drawer position="end"
                fxLayout="column"
                class="node-drawer"
                [autoFocus]="false"
                (openedChange)="onNodeDrawerOpenChanged($event)">

        <app-node-drawer #nodeDrawer
                         [hideActions]="view === viewTypes.WorldMap"
                         (copyNode)="onCopyNode($event)"
                         (replaceNode)="onReplaceNode($event)"
                         (pasteAsChildNode)="onPasteAsChildNode($event)"
                         (updateNode)="onUpdateNode($event)"
                         (deleteNode)="onDeleteNode($event)"
                         (importSubtree)="onImportSubtree($event)"></app-node-drawer>
    </mat-drawer>

    <mat-drawer-content>
        <ng-container *ngIf="document; then genMapperGraph else emptyState"></ng-container>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #genMapperGraph>
    <ng-container *ngIf="document">
        <app-document-name-control [showErrors]="isAuthenticated"></app-document-name-control>
        <app-menu-button (settingsButtonClick)="setView(viewTypes.Settings)"
                         (importButtonClick)="onImport($event)"></app-menu-button>

        <ng-container *ngIf="view === viewTypes.GenMap && showReportsView">
            <app-report-legend></app-report-legend>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="showMapView">
        <app-world-map-toggle [view]="view"
                              (mapIconClick)="setView(viewTypes.WorldMap)"
                              (backIconClick)="setView(viewTypes.GenMap)"></app-world-map-toggle>
    </ng-container>

    <ng-container *ngIf="showReportsView">
        <app-reports-toggle [view]="view"
                            (reportsIconClick)="setView(viewTypes.Reports)"
                            (backIconClick)="setView(viewTypes.GenMap)">
        </app-reports-toggle>
    </ng-container>

    <ng-container [ngSwitch]="view">
        <ng-container *ngSwitchCase="viewTypes.Settings">

        </ng-container>
        <ng-container *ngSwitchCase="viewTypes.Reports">
            <app-reports-view></app-reports-view>
        </ng-container>
        <ng-container *ngSwitchCase="viewTypes.WorldMap">
            <app-world-map-view (nodeClick)="onNodeClick($event)"></app-world-map-view>
        </ng-container>
        <ng-container *ngSwitchCase="viewTypes.GenMap">
            <app-gen-mapper-graph class="{{template.theme}}"
                                  [template]="template"
                                  (addNode)="onAddNode($event)"
                                  (nodeClick)="onNodeClick($event)"
                                  (sortChange)="onSortChange($event)"></app-gen-mapper-graph>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <h1>OOPS</h1>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #emptyState>
    <div class="empty-state"
         fxFlex
         fxLayout="column"
         fxLayoutAlign="center center">

        <div>
            <mat-icon [class.warn]="!isAuthenticated">warning</mat-icon>
        </div>

        <ng-container *ngIf="isAuthenticated">
            <ng-container *ngIf="documents.length === 0">
                <h1>
                    {{'Common_NoSavedDocuments' | translate}}
                </h1>
            </ng-container>

            <ng-container *ngIf="documents.length > 0">
                <h1>
                    {{'Common_SelectADocument' | translate}}
                </h1>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!isAuthenticated">
            <div fxLayout="column"
                 fxLayoutAlign="center center"
                 class="context">
                <h1>
                    {{'Common_PleaseLogIn' | translate}}
                </h1>

                <div class="login-link">
                    <a [routerLink]="['/login']">
                        - {{'Common_Login' | translate}} -
                    </a>
                </div>
            </div>
        </ng-container>

        <div fxLayout="row"
             fxLayoutGap="24px">
            <button mat-raised-button
                    color="accent"
                    (click)="onCreateDocument()">
                <ng-container *ngIf="isAuthenticated">
                    {{'Common_CreateDocument' | translate}}
                </ng-container>

                <ng-container *ngIf="!isAuthenticated">
                    {{'Common_ContinueWithoutSaving' | translate}}
                </ng-container>
            </button>

            <ng-container *ngIf="isAuthenticated">
                <button mat-raised-button
                        color="accent"
                        (click)="onImport()">
                    {{'Common_ImportDocument' | translate}}
                </button>
            </ng-container>
        </div>
    </div>
</ng-template>
