<ng-container *ngIf="isDesktop; then desktopTemplate else handHeldTemplate"></ng-container>

<ng-template #desktopTemplate>
    <button mat-icon-button
            [class.active]="active"
            (click)="active = !active">
        <mat-icon>info</mat-icon>
    </button>
    <div class="gen-mapper-report-legend"
         *ngIf="active">
        <ng-container *ngTemplateOutlet="report"></ng-container>
    </div>
</ng-template>

<ng-template #handHeldTemplate>
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
        <mat-icon>info</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-container *ngTemplateOutlet="report"></ng-container>
    </mat-menu>
</ng-template>

<ng-template #report>
    <table class="gen-mapper-report-table">
        <tr>
            <td>{{'en_Total' | locale | async}}</td>
            <td class="report-value">{{document?.nodes?.length}}</td>
        </tr>
        <ng-container *ngFor="let report of reports">
            <tr>
                <td>{{template.format + '.' + report.name | locale | async}}</td>
                <td class="report-value">{{report.value}}</td>
            </tr>
        </ng-container>
        <ng-container *ngFor="let report of generations">
            <tr>
                <td>{{report.name}}</td>
                <td class="report-value">{{report.value}}</td>
            </tr>
        </ng-container>
    </table>
</ng-template>
