<form (submit)="changePassword()">
    <mat-card [formGroup]="form">
        <h2 tabindex="0">Change Password</h2>
        <p tabindex="0"
           class="mute">Change your account password used to login to the app</p>

        <mat-card-content fxLayout="column"
                          fxLayoutGap="15px">
            <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input type="password"
                       autocomplete="nofill"
                       name="nofillOldpass"
                       matInput
                       formControlName="oldPassword" />
                <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
                    Field is required
                </mat-error>
                <mat-error *ngIf="form.get('oldPassword')?.hasError('incorrectPassword')">
                    Old password is incorrect
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline"
                            class="password-field">
                <mat-label>New Password</mat-label>
                <input type="password"
                       autocomplete="nofill"
                       name="nofillNewpass"
                       matInput
                       formControlName="newPassword" />

                <mat-hint>
                    <app-password-requirements [control]="form.get('newPassword')"
                                               [showMinlength]="true"
                                               [showLowercase]="true"
                                               [showUppercase]="true"
                                               [showNumber]="true"
                                               [showSpecialCharacter]="true">
                    </app-password-requirements>
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline"
                            class="password-field">
                <mat-label>Confirm Password</mat-label>
                <input type="password"
                       autocomplete="nofill"
                       name="nofillConfirmpass"
                       matInput
                       formControlName="confirmPassword" />
                <mat-hint>
                    <app-password-requirements [control]="form.get('confirmPassword')"
                                               [showNoMatch]="true">
                    </app-password-requirements>
                </mat-hint>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="end">
            <button mat-stroked-button
                    color="primary"
                    class="spinner-button"
                    type="submit">
                <mat-spinner diameter="24"
                             *ngIf="isSavingPassword"></mat-spinner>
                <span>Save</span>
            </button>
        </mat-card-actions>
    </mat-card>
</form>
