<mat-sidenav-container autosize>
    <mat-sidenav #matsidenav
                 mode="over">
        <app-navigation [authenticated]="false"></app-navigation>
    </mat-sidenav>
    <main>
        <header>
            <mat-toolbar>
                <button mat-icon-button
                        (click)="matsidenav.toggle()">
                    <mat-icon *ngIf="!matsidenav.opened">menu</mat-icon>
                    <mat-icon *ngIf="matsidenav.opened">clear</mat-icon>
                </button>
            </mat-toolbar>
        </header>
        <router-outlet></router-outlet>
    </main>
</mat-sidenav-container>