<mat-toolbar color="none">
    <button mat-mini-fab
            (click)="onCreateDocument()">
        <mat-icon>add</mat-icon>
    </button>
    <div>
        {{'documentsTitle' | locale | async}}1
    </div>
    <div fxFlex></div>
</mat-toolbar>

<div class="scroll-container">
    <app-gen-mapper-documents (select)="onSelectDocument($event)"
                              [document]="document"
                              [documents]="documents"
                              [documentId]="document?.id"></app-gen-mapper-documents>
</div>
