<mat-toolbar color="none">
    <div style="margin-left: 4px;">
        {{'documentsTitle' | locale | async}}
    </div>
    <div fxFlex></div>
    <button mat-icon-button
            disableRipple
            color="primary"
            (click)="onCreateDocument()">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<div class="scroll-container">
    <app-gen-mapper-documents (select)="onSelectDocument($event)"
                              [document]="document"
                              [documents]="documents"
                              [documentId]="document?.id"></app-gen-mapper-documents>
</div>
