:host {
    display: flex;
    flex-direction: column;

    .scroll-container {
        position: relative;
        flex: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mat-toolbar {
        flex: 0 0 auto;
        background: transparent;
        box-shadow: 0 3px 4px -2px rgba(0,0,0,0.2);

        .mat-mini-fab {
            margin-left: -36px;
            margin-right: 42px;
        }
    }
}
