@import '~styles/colors';

:host {
    display: flex;
    flex-direction: column;
    padding: 16px;

    input {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .mat-form-field {
        width: 100%;

        .clear-field {
            margin-top: 5px;
            color: mat-color($warn);
        }
    }

    .mat-slide-toggle::ng-deep {
        width: 100%;

        .mat-slide-toggle-content {
            flex: 1;
        }
    }

    .control-input {
        min-width: 250px;
    }

    .control-checkbox {
        .control-input {
            min-width: 80px;
        }
    }

    .control-label {
        cursor: pointer;
        user-select: none;
        font-weight: 600;
        margin-right: auto;
    }

    .mat-form-field.geo-location::ng-deep {
        cursor: pointer;
        label.mat-form-field-label,
        input:disabled {
            cursor: pointer;
            color: mat-color($primary);
        }

        .location-icon {
            color: mat-color($primary);
        }
    }

    @media screen and (min-width: 768px) {
        .control.control-checkbox {
            &:hover {
                background-color: #eee;
            }
        }
    }
}
