<div fxLayout="column"
     fxLayoutGap="24px">

    <ng-container *ngFor="let attr of attributes">
        <ng-container *ngIf="attr.type && attr.type !== 'hidden' && attr.isVisible">

            <ng-container
                          *ngIf="!fieldByProperty[attr.propertyName]?.dependsOnFalseField || form.get(fieldByProperty[attr.propertyName]?.dependsOnFalseField) && !form.get(fieldByProperty[attr.propertyName]?.dependsOnFalseField).value">
                <div class="control"
                     fxFlex
                     (click)="onFieldClick(attr)">
                    <ng-container *ngIf="attr.type === 'text'">
                        <mat-form-field no-error>
                            <input type="text"
                                   matInput
                                   autocomplete="off"
                                   [placeholder]="attr.value"
                                   [formControl]="form.get(attr.propertyName)" />
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="attr.type === 'geoLocation'">
                        <mat-form-field no-error
                                        class="geo-location">
                            <mat-label>
                                {{attr.value}}
                            </mat-label>
                            <input type="text"
                                   matInput
                                   autocomplete="off"
                                   [formControl]="form.get(attr.propertyName)" />

                            <mat-icon matSuffix
                                      class="clear-field"
                                      (click)="onClearFieldClick($event, attr)"
                                      *ngIf="form.get(attr.propertyName).value">clear</mat-icon>

                            <mat-icon matSuffix
                                      class="location-icon"
                                      (click)="onClearFieldClick($event, attr)">location_on</mat-icon>

                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="attr.type === 'peidSelect'">
                        <mat-form-field no-error
                                        class="peid-select">
                            <mat-label>
                                {{attr.value}}
                            </mat-label>
                            <input type="text"
                                   matInput
                                   autocomplete="off"
                                   [formControl]="form.get('peopleGroupsNames')" />

                            <mat-icon matSuffix
                                      class="clear-field"
                                      (click)="onClearFieldClick($event, field)"
                                      *ngIf="form.get(attr.propertyName).value">clear</mat-icon>

                            <mat-icon matSuffix
                                      class="peid-icon"
                                      (click)="onClearFieldClick($event, field)">people</mat-icon>

                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="attr.type === 'textarea'">
                        <mat-form-field no-error>
                            <textarea type="text"
                                      matInput
                                      cdkTextareaAutosize
                                      cdkAutosizeMinRows="1"
                                      autocomplete="off"
                                      [placeholder]="attr.value"
                                      [formControl]="form.get(attr.propertyName)"></textarea>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="attr.type === 'number'">
                        <mat-form-field no-error>
                            <input type="number"
                                   matInput
                                   autocomplete="off"
                                   [placeholder]="attr.value"
                                   [formControl]="form.get(attr.propertyName)" />
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="attr.type === 'radio'">
                        <mat-form-field no-error>
                            <mat-label>
                                {{attr.value}}
                            </mat-label>
                            <mat-select [formControl]="form.get(attr.propertyName)">
                                <mat-option *ngFor="let value of fieldByProperty[attr.propertyName].values"
                                            [value]="value.header">
                                    {{value.localeLabel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="attr.type === 'multiSelect'">
                        <mat-form-field no-error>
                            <mat-label>
                                {{attr.value}}
                            </mat-label>
                            <mat-select [formControl]="form.get(attr.propertyName)"
                                        multiple
                                        [placeholder]="form.get(attr.propertyName).value | joinList"
                                        #temp>
                                <mat-select-trigger>
                                    {{form.get(attr.propertyName).value | joinList}}
                                </mat-select-trigger>
                                <mat-option *ngFor="let value of fieldByProperty[attr.propertyName].values"
                                            [value]="value.value">
                                    #{{value.value}} {{value.localeLabel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="attr.type === 'checkbox'">
                        <mat-slide-toggle labelPosition="before"
                                          [formControl]="form.get(attr.propertyName)">
                            {{attr.value}}
                        </mat-slide-toggle>
                    </ng-container>
                </div>
            </ng-container>

        </ng-container>
    </ng-container>

    <div class="control"
         fxFlex
         *ngIf="form.get('parentId').value || form.get('parentId').value === 0">
        <mat-form-field no-error>
            <mat-label>{{'editGroup.elementParent' | locale | async}}</mat-label>
            <mat-select [formControl]="form.get('parentId')">
                <ng-container *ngFor="let n of nodes">
                    <ng-container *ngIf="n.id !== model.id">
                        <mat-option [value]="n.id">
                            <ng-container *ngIf="n.name && n.leaderName; then combinedOption else defautOption">
                            </ng-container>
                            <ng-template #combinedOption>{{n.name}}: {{n.leaderName}}</ng-template>
                            <ng-template #defautOption>{{n.name || n.leaderName || '[No Name]'}}</ng-template>
                        </mat-option>
                    </ng-container>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex="80px"></div>
</div>
