<h1 mat-dialog-title
    i18n="@@Menu_importXlsxCsv">{{'Menu_importXlsxCsv' | locale | async}}</h1>
<div mat-dialog-content>
    <div class="file-input">
        <input #fileInput
               type="file"
               accept=".csv">
    </div>
</div>
<div mat-dialog-actions
     fxLayoutAlign="end">
    <button mat-raised-button
            color="accent"
            [disabled]="form.invalid"
            (click)="onSubmit()">Submit</button>
    <button mat-button
            color="warn"
            (click)="onCancel()">Cancel</button>
</div>
