@use '~@angular/material' as mat;
@import "~styles/colors";

:host {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    h3 {
        text-align: center;
        color: mat.get-color-from-palette($primary);
    }

    section {
        padding: 24px;
        max-width: 700px;
        margin: 0 auto;
    }
}
