@use '@angular/material' as mat;
@import 'styles/colors';

:host {
    display: flex;
    flex-direction: column;
    padding: 16px;

    input {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .date-picker {
        input {
            pointer-events: none;
        }
    }

    .help-icon {
        opacity: 0.5;
    }

    .mat-form-field {
        width: 100%;
    }

    .clear-field {
        margin-top: 5px;
        color: mat.get-color-from-palette($warn);
        cursor: pointer;
    }

    .device-desktop & .mat-form-field {
        .clear-field {
            opacity: 0;
        }

        &:hover {
            .clear-field {
                opacity: 1;
            }
        }
    }

    .mat-slide-toggle::ng-deep {
        width: 100%;

        .mat-slide-toggle-content {
            flex: 1;
        }
    }

    .control.has-dependency {
        padding-left: 55px;
    }

    .control-input {
        min-width: 250px;
    }

    .control-checkbox {
        .control-input {
            min-width: 80px;
        }
    }

    .control-label {
        cursor: pointer;
        user-select: none;
        font-weight: 600;
        margin-right: auto;
    }

    .control-peopleSelector {
        cursor: pointer;
    }

    .deprecated {
        background-color: #eee;
        border-radius: 4px;
        padding: 4px;
    }

    .mat-form-field.peid-select::ng-deep,
    .mat-form-field.geo-location::ng-deep {
        cursor: pointer;

        label.mat-form-field-label,
        input.mat-input-element:disabled {
            cursor: pointer;
            color: mat.get-color-from-palette($primary);
        }

        .peid-icon,
        .location-icon {
            color: mat.get-color-from-palette($primary);
        }
    }

    @media screen and (min-width: 768px) {
        .control.control-checkbox,
        .control.control-peopleSelector {
            &:hover {
                background-color: #eee;
            }
        }
    }
}
