<mat-drawer-container autosize>
    <mat-drawer #mapSidenav
                class="map-sidenav"
                mode="over"
                position="start"
                fxLayout="column"
                [autoFocus]="false"
                [class.hide-drawer]="!isAuthenticated">

        <ng-container *ngIf="isAuthenticated">
            <app-map-sidenav [documents]="documents"
                             [document]="document"
                             [template]="template"></app-map-sidenav>
        </ng-container>
    </mat-drawer>

    <mat-drawer-content>
        <app-sidenav-toggle></app-sidenav-toggle>
        <ng-container *ngIf="isAuthenticated && view !== viewType.Reports && view !== viewType.WorldMap">
            <button mat-mini-fab
                    [disableRipple]="true"
                    class="map-sidenav-toggle"
                    (click)="mapSidenav?.toggle()">
                <mat-icon>folder</mat-icon>
            </button>

            <ng-container *ngIf="!document">
                <div class="map-sidenav-hint"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxLayoutGap="5px">
                    <mat-icon>arrow_back</mat-icon>
                    <div>
                        {{'documentsTitle' | locale | async}}
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
