@import '~styles/colors';

:host {
    display: block;

    app-sidenav-toggle {
        position: absolute;
        top: 0;
        left: 0;
        margin: 16px;
        z-index: 2;
    }

    app-map-name-control {
        position: absolute;
        top: 0;
        left: 62px;
        right: 62px;
        margin: 16px 0;
        z-index: 2;
    }

    app-map-menu-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 16px;
        z-index: 2;
    }

    .map-sidenav-toggle {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 16px;
        z-index: 2;
    }

    mat-drawer {
        &.map-sidenav {
            width: 75vw;

            @media screen and (min-width: 768px) {
                width: 400px;
            }
        }

        &.hide-drawer {
            display: none !important;
        }
    }

    @media print {
        .mat-drawer {
            display: none !important;
        }

        app-sidenav-toggle {
            display: none !important;
        }

        app-map-menu-button {
            display: none !important;
        }

        .map-sidenav-toggle {
            display: none !important;
        }
    }
}
