@use '@angular/material' as mat;
@import "~styles/colors";

:host {
    display: block;

    app-sidenav-toggle {
        position: absolute;
        top: 0;
        left: 0;
        margin: 16px;
        z-index: 2;
        backface-visibility: hidden;
    }

    .map-sidenav-toggle {
        position: absolute;
        top: 56px;
        left: 0;
        margin: 16px;
        z-index: 2;
        backface-visibility: hidden;

        &:active {
            box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        }
    }

    .map-sidenav-hint {
        user-select: none;
        position: absolute;
        backface-visibility: hidden;
        top: 64px;
        left: 56px;
        margin: 16px;
        z-index: 2;
        color: mat.get-color-from-palette($accent);
        font-weight: 600;
    }

    mat-drawer {
        box-shadow: none;

        &.map-sidenav {
            width: 75vw;

            @media screen and (min-width: 768px) {
                width: 600px;
            }
        }

        &.hide-drawer {
            display: none !important;
        }
    }

    .loading-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
    }

    @media print {
        .mat-drawer {
            display: none !important;
        }

        .mat-drawer-container {
            background-color: white;
        }

        .map-sidenav-toggle {
            display: none !important;
        }

        app-sidenav-toggle {
            display: none !important;
        }
    }
}
