<mat-drawer-container autosize>
    <mat-drawer #mapSidenav
                class="map-sidenav"
                mode="over"
                position="start"
                fxLayout="column"
                [class.hide-drawer]="!isAuthenticated">

        <ng-container *ngIf="isAuthenticated">
            <app-map-sidenav [documents]="documents"
                             [document]="document"
                             [template]="template"></app-map-sidenav>
        </ng-container>
    </mat-drawer>

    <mat-drawer-content>
        <app-sidenav-toggle></app-sidenav-toggle>
        <ng-container *ngIf="isAuthenticated">
            <button mat-fab
                    class="map-sidenav-toggle"
                    (click)="mapSidenav?.toggle()">
                <mat-icon *ngIf="mapSidenav?.opened">clear</mat-icon>
                <mat-icon *ngIf="!mapSidenav?.opened">filter_list</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="document">
            <app-map-name-control></app-map-name-control>
            <app-map-menu-button [document]="document"
                                 [template]="template"></app-map-menu-button>
        </ng-container>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
