@import '~styles/colors';

:host {
    display: block;

    app-sidenav-toggle {
        position: absolute;
        top: 0;
        left: 0;
        margin: 16px;
        z-index: 2;
        backface-visibility: hidden;
    }

    .map-sidenav-toggle {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 16px;
        z-index: 2;
        backface-visibility: hidden;
    }

    .map-sidenav-hint {
        user-select: none;
        position: absolute;
        backface-visibility: hidden;
        bottom: 12px;
        left: 62px;
        margin: 16px;
        z-index: 2;
        color: mat-color($accent);
        font-weight: 600;
    }

    mat-drawer {
        &.map-sidenav {
            width: 75vw;

            @media screen and (min-width: 768px) {
                width: 400px;
            }
        }

        &.node-drawer {
            width: 75vw;

            @media screen and (min-width: 768px) {
                width: 400px;
            }
        }

        &.hide-drawer {
            display: none !important;
        }
    }

    @media print {
        .mat-drawer {
            display: none !important;
        }

        app-sidenav-toggle {
            display: none !important;
        }

        app-map-menu-button {
            display: none !important;
        }

        .map-sidenav-toggle {
            display: none !important;
        }
    }
}
