@import 'styles/colors';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    header {
        z-index: 1;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .mat-drawer {
        width: 250px;

        .mat-toolbar {
            background: transparent;
        }
    }

    .mat-drawer-container {
        flex: 1;
    }

    .mat-list-item.active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
