<ng-container *ngIf="isAuthenticated && !user?.agreementDate">
    <div class="user-agreement"
         routerLink="/account/user-agreement">
        Please sign user agreement
    </div>
</ng-container>
<mat-sidenav-container>
    <mat-sidenav #matsidenav
                 mode="over">
        <app-navigation [authenticated]="isAuthenticated"
                        [user]="user"></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
