:host {
    display: block;
    position: relative;

    .user-agreement {
        height: 24px;
        background-color: orange;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
        cursor: pointer;
    }

    .mat-sidenav-container {
        height: calc(100% - 24px);
    }
}
