:host {
    display: flex;
    flex-direction: column;

    .mat-sidenav-container {
        min-height: 100vh;
        width: 100%;
    }

    ::ng-deep {
        .mat-sidenav-content {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        pointer-events: none;
    }

    .mat-toolbar {
        background-color: transparent;
        pointer-events: none;
        position: relative;

        button {
            pointer-events: all;
        }
    }
}
