@use '~@angular/material' as mat;

$typography: mat.define-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat.define-typography-level(32px, 48px, 700)
);

$primary: mat.define-palette(mat.$blue-palette, 800, 100, 900);
$secondary: mat.define-palette(mat.$orange-palette, 800, 100, 900);
$accent:  mat.define-palette(mat.$cyan-palette, 600, 100, 900);
$warn:    mat.define-palette(mat.$red-palette, 600, 100, 900);
$success: mat.define-palette(mat.$green-palette, 600, 100, 900);
$theme: mat.define-light-theme($primary, $accent, $warn);

$green: #0bbb0b;

$darker-gray: #212121;
$dark-gray: #424242;
$gray:#9e9e9e;
$light-gray: #bdbdbd;
$lighter-gray:#e0e0e0;
$lightest-gray: #eeeeee;

$light-foreground: map-get($theme, foreground);
$light-background: map-get($theme, background);
