@import '~@angular/material/theming';

$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);
$primary: mat-palette($mat-blue, 800, 100, 900);
$accent:  mat-palette($mat-cyan, 600, 100, 900);
$warn:    mat-palette($mat-red, 600, 100, 900);
$theme: mat-light-theme($primary, $accent, $warn);

$green: #0bbb0b;


$darker-gray: #212121;
$dark-gray: #424242;
$gray:#9e9e9e;
$light-gray: #bdbdbd;
$lighter-gray:#e0e0e0;
