.mat-card {
    .mat-card-header-text {
        margin-left: 0;
        margin-right: 0;
    }
}

.mat-spinner-button {
    .mat-button-wrapper {
        display: flex;
        align-items: center;
    }

    .mat-spinner {
        margin-left: 10px;
        svg circle {
            stroke: white;
        }
    }
}

.cdk-overlay-pane {
    max-width: unset;
}

.device-handheld {
    .mat-dialog-container {
        min-width: 80vw;
    }
}

.device-desktop {
    .mat-dialog-container {
        width: 100%;
        max-width: 80vw;
    }
}

.mat-dialog-container {
    display: flex !important;
    max-height: 90vh !important;
}

body {
    .mat-tooltip {
        font-size: 16px;
    }
}

.month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.month-picker .mat-calendar-arrow {
    display: none;
}

.mat-snack-bar-container.white-snack-bar {
    background-color: white;
}

.mat-button-base.icon-button {
    .mat-button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .mat-icon[before] {
            margin-right: 10px;
        }

        .mat-icon[after] {
            margin-left: 10px;
        }
    }
}

.spinner-button {
    &.mat-button,
    &.mat-stroked-button,
    &.mat-raised-button,
    &.mat-flat-button {

        .mat-button-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .mat-spinner {

            &.after,
            &:last-child {
                order: 3;
                margin-left: 10px;
            }

            &.before,
            &:first-child {
                margin-right: 10px;
                order: 0;
            }
        }
    }

    &.mat-raised-button,
    &.mat-flat-button {
        .mat-spinner svg circle {
            stroke: white;
        }
    }
}


.mat-toolbar .mat-form-field,
.mat-form-field[compact] {
    font-size: initial;

    &.mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        .mat-form-field-infix {
            padding: .6em 0 .6em 0;
            border-top-width: 0.5em;
        }

        .mat-select {
            .mat-select-arrow-wrapper {
                transform: translateY(0);
            }
        }
    }
}

.mat-chip-list.mat-chip-list-stacked {
    .mat-chip-input {
        flex: 1 0 28px;
        padding-left: 8px;
        width: 100%;
    }

    .mat-chip {
        margin: 4px 0;

        &.mat-standard-chip {
            width: unset;
        }

        ui-avatar {
            margin-right: 10px;
        }
    }
}


button.mat-menu-item.active {
    background-color: transparentize($color: mat-color($primary, lighter), $amount: 0.5);
    color: mat-color($primary);
}
