.mat-card {
    .mat-card-header-text {
        margin-left: 0;
        margin-right: 0;
    }
}

.mat-spinner-button {
    .mat-button-wrapper {
        display: flex;
        align-items: center;
    }

    .mat-spinner {
        margin-left: 10px;
        svg circle {
            stroke: white;
        }
    }
}
