.mat-card {
    .mat-card-header-text {
        margin-left: 0;
        margin-right: 0;
    }
}

.mat-spinner-button {
    .mat-button-wrapper {
        display: flex;
        align-items: center;
    }

    .mat-spinner {
        margin-left: 10px;
        svg circle {
            stroke: white;
        }
    }
}

.cdk-overlay-pane {
    max-width: unset;
}

.device-handheld {
    .mat-dialog-container {
        min-width: 80vw;
    }
}

.device-desktop {
    .mat-dialog-container {
        width: 100%;
        max-width: 80vw;
    }
}

.mat-dialog-container {
    display: flex !important;
    max-height: 90vh !important;
}

body {
    .mat-tooltip {
        font-size: 16px;
    }
}

.month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.month-picker .mat-calendar-arrow {
    display: none;
}

.mat-snack-bar-container.white-snack-bar {
    background-color: white;
}
