<mat-card fxLayout="row"
          fxLaoutGap="10px">
    <mat-icon tabindex="1"
              color="primary">account_circle</mat-icon>
    <div fxLayout="column"
         fxLayoutGap="5px">
        <div></div>
        <ng-container *ngIf="authenticated">
            <div *ngIf="user?.name"
                 class="user-name">{{user.name}}</div>
            <div *ngIf="user?.email"
                 class="user-email">{{user.email}}</div>
            <div class="auth">
                <a [routerLink]="['/logout']">
                    Logout
                </a>
            </div>
        </ng-container>
        <ng-container *ngIf="!authenticated">
            <div class="auth"
                 fxLayout="column"
                 fxLayoutGap="10px">
                <a [routerLink]="['/login']">
                    Login
                </a>
                <a [routerLink]="['/signup']">
                    Signup
                </a>
            </div>
        </ng-container>
    </div>
</mat-card>

<section>
    <mat-nav-list>

        <mat-list-item routerLink="/tools"
                       routerLinkActive="active">
            <h3 matLine> Tools </h3>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </mat-list-item>

        <h3 mat-subheader>Generation Maps</h3>

        <mat-list-item [routerLink]="['/church-circles']"
                       routerLinkActive="active">
            <mat-icon matListIcon>device_hub</mat-icon>
            <h3 matLine> Church Circles </h3>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </mat-list-item>

        <mat-list-item [routerLink]="['/four-fields']"
                       routerLinkActive="active">
            <mat-icon matListIcon>device_hub</mat-icon>
            <h3 matLine> Four Fields </h3>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </mat-list-item>

        <!-- <mat-list-item [routerLink]="['/movementeer']"
                       routerLinkActive="active">
            <mat-icon matListIcon>device_hub</mat-icon>
            <h3 matLine> MOVEMENTeer </h3>
        </mat-list-item> -->

        <!-- <mat-list-item [routerLink]="['/disciples']"
                       routerLinkActive="active">
            Disciples
        </mat-list-item> -->
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>
        <a mat-list-item
           href="http://noplaceleft.net"
           (click)="goto($event, 'http://noplaceleft.net')">
            <img matListAvatar
                 src="assets/npl-logo-2018.png"
                 alt="No Place Left">
            <h3 matLine> #NoPlaceLeft </h3>
            <mat-icon>launch</mat-icon>
        </a>
    </mat-nav-list>
</section>