<mat-toolbar fxLayout="row"
             fxLayoutGap="15px">
    <app-sidenav-toggle></app-sidenav-toggle>

    <div fxLayout="row"
         fxLayoutGap="2px">
        <a routerLink="../">Teams</a>
        <span>/</span>
        <span>{{(team$ | async)?.name}}</span>
        <span>/</span>
        <span>Members</span>
    </div>
    <div fxFlex></div>
    <button mat-stroked-button
            color="primary"
            routerLink="../invites">
        VIEW INVITES
    </button>
    <button mat-raised-button
            color="primary"
            class="icon-button"
            (click)="invite()">
        <mat-icon before>send</mat-icon>
        <span>INVITE</span>
    </button>
</mat-toolbar>

<mat-progress-bar *ngIf="(isLoading$ | async) === true"
                  mode="indeterminate"></mat-progress-bar>

<mat-toolbar fxLayout="row"
             fxLayoutGap="15px">
    <mat-form-field appearance="outline"
                    no-errors>
        <input type="text"
               matInput
               [formControl]="search"
               placeholder="Search">
    </mat-form-field>

    <span fxFlex></span>


</mat-toolbar>

<div class="table-container">
    <table mat-table
           [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="name">
            <th mat-header-cell
                *matHeaderCellDef> Username </th>
            <td mat-cell
                *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell
                *matHeaderCellDef> Email </th>
            <td mat-cell
                *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell
                *matHeaderCellDef> Role </th>
            <td mat-cell
                *matCellDef="let element">
                <button mat-stroked-button
                        class="icon-button"
                        [matMenuTriggerFor]="roleMenu"
                        [matMenuTriggerData]="{member: element}">
                    <span>{{element.role === 'owner' ? 'Owner' : 'Member'}}</span>
                    <mat-icon after>arrow_drop_down</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="created">
            <th mat-header-cell
                *matHeaderCellDef> Created Date </th>
            <td mat-cell
                *matCellDef="let element"> {{element.createdDate | date}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell
                *matHeaderCellDef></th>
            <td mat-cell
                *matCellDef="let element">
                <ng-container *ngIf="element.memberId !== self.id">
                    <button mat-icon-button
                            color="warn"
                            (click)="delete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>

        <tr class="mat-row"
            *matNoDataRow>
            <td class="mat-cell"
                colspan="4">There are no teams available</td>
        </tr>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-menu #roleMenu="matMenu">
    <ng-template matMenuContent
                 let-member="member">
        <button mat-menu-item
                [class.active]="member.role === 'owner'"
                (click)="setRole(member, 'owner')">Owner</button>
        <button mat-menu-item
                [class.active]="member.role === 'member'"
                (click)="setRole(member, 'member')">Member</button>
    </ng-template>
</mat-menu>

<footer>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</footer>
