<form fxLayout="column"
      [formGroup]="form"
      (submit)="submit($event)"
      fxLayoutGap="24px"
      *ngIf="form">
    <h1>
        {{'Common_AccountDetails' | translate}}
    </h1>
    <mat-form-field>
        <mat-label>
            {{'Common_Email' | translate}}
        </mat-label>
        <input matInput
               formControlName="email"
               type="email"
               placeholder="name@example.com"
               required />

        <mat-error *ngIf="form.controls.email.errors?.required">
            {{'Error_requiredField' | translate}}
        </mat-error>

        <mat-error *ngIf="form.controls.email.errors?.emailInUse">
            {{'Error_emailInUse' | translate}}
        </mat-error>

        <mat-error *ngIf="form.controls.email.errors?.pattern">
            {{'Error_emailFormat' | translate}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            {{'Common_Username' | translate}}
        </mat-label>
        <input matInput
               formControlName="username"
               type="text"
               autocomplete="off" />

        <mat-hint>
            {{'Message_uniqueUsername' | translate}}
        </mat-hint>

        <mat-error *ngIf="form.controls.username.errors?.minlength">
            {{'Error_valueIsTooShort' | translate}}
        </mat-error>

        <mat-error *ngIf="form.controls.username.errors?.usernameInUse">
            {{'Error_usernameInUse' | translate}}
        </mat-error>
    </mat-form-field>

    <ng-container *ngIf="isDesktop">
        <section fxLayout="row">
            <button fxFlex
                    type="button"
                    mat-raised-button
                    color="primary"
                    routerLink="/account/data-export">
                Export Data for iShare
            </button>
        </section>
    </ng-container>

    <hr />

    <h1>
        {{'Common_ChangePassword' | translate}}
    </h1>

    <mat-form-field>
        <mat-label>
            {{'Common_Password' | translate}}
        </mat-label>
        <input matInput
               formControlName="password"
               autocomplete="offoff"
               name="offoff"
               type="password" />

        <mat-error *ngIf="form.controls.password.errors?.minlength">
            {{'Error_valueIsTooShort' | translate}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            {{'Common_ConfirmPassword' | translate}}
        </mat-label>
        <input matInput
               formControlName="confirm"
               type="password"
               autocomplete="offoff"
               name="offoff"
               [required]="form.get('password').value" />

        <mat-error *ngIf="form.controls.confirm.errors?.required">
            {{'Error_requiredField' | translate}}
        </mat-error>

        <mat-error *ngIf="form.controls.confirm.errors?.invalidPasswordMatch">
            {{'Error_passwordsDontMatch' | translate}}
        </mat-error>

        <mat-error *ngIf="form.controls.confirm.errors?.minlength">
            {{'Error_valueIsTooShort' | translate}}
        </mat-error>
    </mat-form-field>

    <div fxLayout="row"
         fxLayoutGap="15px"
         *ngIf="form.dirty">
        <button mat-raised-button
                class="mat-spinner-button"
                color="primary"
                type="submit">
            <div>
                {{'Common_Save' | translate}}
            </div>
            <mat-spinner diameter="24"
                         *ngIf="isSaving"></mat-spinner>
        </button>
        <a mat-button
           color="primary"
           type="button"
           [routerLink]="['/tools']">{{'Common_Cancel' | translate}}</a>
    </div>

    <section fxLayout="row">
        <button fxFlex
                type="button"
                mat-stroked-button
                color="primary"
                routerLink="/account/user-agreement">
            User Agreement
        </button>
    </section>
</form>
