@use '@angular/material' as mat;
@import 'styles/colors';

:host {
    display: flex;
    margin: 100px auto 0 auto;

    h1 {
        font-size: 56px;
        color: mat.get-color-from-palette($warn);
    }
}
