<mat-form-field>
    <input matInput
           name="none"
           [formControl]="control"
           autocomplete="off"
           placeholder="Filter">

    <mat-icon matSuffix
              *ngIf="control.value"
              (click)="control.setValue('')">clear</mat-icon>
</mat-form-field>

<ng-container *ngIf="filtered.length > 0">
    <mat-nav-list class="mat-elevation-z3">
        <mat-list-item *ngFor="let c of filtered"
                       (click)="onSelectionChange(c)">
            <div matLine>{{ c }}</div>
            <button mat-icon-button>
                <mat-icon>chevron_right</mat-icon>
            </button>
        </mat-list-item>
    </mat-nav-list>
</ng-container>
<ng-container *ngIf="filtered.length === 0">
    <div class="empty-state">
        <i>No Counties found!</i>
    </div>
</ng-container>
