<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <app-sidenav-toggle></app-sidenav-toggle>
            <span>Data Export</span>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<div fxLayout="column"
     fxLayoutAlign="center center">
    <h1>Data is being processed</h1>
    <p>Once data is ready, you will receive an email with a link to download your data.</p>

    <div>
        <button mat-raised-button
                color="primary"
                routerLink="/">
            Go Home
        </button>
    </div>
</div>