<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <app-sidenav-toggle></app-sidenav-toggle>
        </mat-toolbar-row>
        <mat-toolbar-row>
        </mat-toolbar-row>
        <mat-toolbar-row fxLayout="row"
                         fxLayoutAlign="center center">
            <app-npl-logo size="50"></app-npl-logo>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<section fxLayout="row"
         fxLayoutAlign="center center">

    <app-detail-form [model]="user"
                     (submit)="onSubmit($event)"></app-detail-form>
</section>
