<mat-card fxLayout="row"
          fxLaoutGap="10px">
    <mat-icon tabindex="1"
              color="primary">account_circle</mat-icon>
    <div fxLayout="column"
         fxLayoutGap="5px">
        <div></div>
        <ng-container *ngIf="authenticated">
            <div *ngIf="user?.name"
                 class="user-name">{{user.name}}</div>
            <div *ngIf="user?.email"
                 class="user-email">{{user.email}}</div>
            <div class="auth">
                <a [routerLink]="['/logout']">
                    {{'en_Logout' | locale | async}}
                </a>
            </div>
        </ng-container>
        <ng-container *ngIf="!authenticated">
            <div class="auth"
                 fxLayout="column"
                 fxLayoutGap="10px">
                <a [routerLink]="['/login']">
                    {{'en_Login' | locale | async}}
                </a>
                <a [routerLink]="['/signup']">
                    {{'en_Signup' | locale | async}}
                </a>
            </div>
        </ng-container>
    </div>
</mat-card>

<section>
    <mat-nav-list>

        <ng-container *ngIf="authenticated">
            <mat-list-item routerLink="/account"
                           routerLinkActive="active">
                <h3 matLine>
                    {{'en_Account' | locale | async}}
                </h3>
                <mat-icon matListIcon>person</mat-icon>
                <mat-icon class="arrow">chevron_right</mat-icon>
            </mat-list-item>
        </ng-container>

        <mat-list-item routerLink="/tools"
                       routerLinkActive="active">
            <h3 matLine> Tools </h3>
            <mat-icon matListIcon>device_hub</mat-icon>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </mat-list-item>
    </mat-nav-list>

    <mat-nav-list>
        <mat-list-item (click)="sendFeedback()">
            <mat-icon matListIcon>feedback</mat-icon>
            <h3 matLine>
                {{'en_SendFeedback' | locale | async}}
            </h3>
        </mat-list-item>

        <mat-list-item (click)="help()">
            <mat-icon matListIcon>help</mat-icon>
            <h3 matLine>
                {{'en_Help' | locale | async}}
            </h3>
        </mat-list-item>

        <mat-list-item>
            <mat-icon matListIcon>language</mat-icon>
            <mat-form-field matLine>
                <mat-select placeholder="{{'en_Language' | locale | async}}"
                            [formControl]="localeControl">
                    <mat-option *ngFor="let lang of (translations$ | async)"
                                [value]="lang.id">
                        {{lang.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>
        <a mat-list-item
           href="http://noplaceleft.net"
           (click)="goto($event, 'http://noplaceleft.net')">
            <img matListAvatar
                 src="assets/npl-logo-2018.png"
                 alt="No Place Left">
            <h3 matLine> #NoPlaceLeft </h3>
            <mat-icon>launch</mat-icon>
        </a>
    </mat-nav-list>

</section>
