<div fxLayout="column">
    <ng-container *ngFor="let field of fields">
        <ng-container *ngIf="field.type">

            <ng-container *ngIf="field.type === 'text'">
                <mat-form-field appearance="fill">
                    <mat-label>{{field.localeLabel}}</mat-label>
                    <input type="text"
                           matInput
                           [placeholder]="field.localeLabel"
                           [formControl]="form.get(field.header)" />
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="field.type === 'radio'">
                <mat-form-field appearance="fill">
                    <mat-label>{{field.localeLabel}}</mat-label>
                    <mat-select [formControl]="form.get(field.header)">
                        <mat-option *ngFor="let value of field.values"
                                    [value]="value.header">
                            {{value.localeLabel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="field.type === 'checkbox'">
                <mat-slide-toggle [formControl]="form.get(field.header)">
                    {{field.localeLabel}}
                </mat-slide-toggle>
            </ng-container>
        </ng-container>
    </ng-container>
</div>