@import '~styles/colors';

:host::ng-deep {
    display: block;
    padding: 10px;
    background-color: #eeeeee;

    .chart-label {
        font-weight: 600;
    }

    .ngx-charts {
        float: none;
    }


    svg path {
        stroke: #fff !important;
        stroke-width: 1px;
    }
}
