<form fxLayout="column"
      [formGroup]="form"
      (submit)="submit($event)"
      fxLayoutGap="24px"
      *ngIf="form">
    <h1>
        {{'en_AccountDetails' | locale | async}}
    </h1>
    <mat-form-field>
        <mat-label>
            {{'en_Email' | locale | async}}
        </mat-label>
        <input matInput
               formControlName="email"
               type="email"
               placeholder="name@example.com"
               required />

        <mat-error *ngIf="form.controls.email.errors?.required">
            {{'errors.requiredField' | locale | async}}
        </mat-error>

        <mat-error *ngIf="form.controls.email.errors?.emailInUse">
            {{'errors.emailInUse' | locale | async}}
        </mat-error>

        <mat-error *ngIf="form.controls.email.errors?.pattern">
            {{'errors.emailFormat' | locale | async}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            {{'en_Username' | locale | async}}
        </mat-label>
        <input matInput
               formControlName="username"
               type="text"
               autocomplete="off" />

        <mat-hint>
            {{'messages.uniqueUsername' | locale | async}}
        </mat-hint>

        <mat-error *ngIf="form.controls.username.errors?.minlength">
            {{'errors.valueIsTooShort' | locale | async}}
        </mat-error>

        <mat-error *ngIf="form.controls.username.errors?.usernameInUse">
            {{'errors.usernameInUse' | locale | async}}
        </mat-error>
    </mat-form-field>

    <hr />


    <h1>
        {{'en_ChangePassword' | locale | async}}
    </h1>

    <mat-form-field>
        <mat-label>
            {{'en_Password' | locale | async}}
        </mat-label>
        <input matInput
               formControlName="password"
               autocomplete="off"
               type="password" />

        <mat-error *ngIf="form.controls.password.errors?.minlength">
            {{'errors.valueIsTooShort' | locale | async}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            {{'en_ConfirmPassword' | locale | async}}
        </mat-label>
        <input matInput
               formControlName="confirm"
               type="password"
               autocomplete="off"
               [required]="form.get('password').value" />

        <mat-error *ngIf="form.controls.confirm.errors?.required">
            {{'errors.requiredField' | locale | async}}
        </mat-error>

        <mat-error *ngIf="form.controls.confirm.errors?.invalidPasswordMatch">
            {{'errors.passwordsDontMatch' | locale | async}}
        </mat-error>

        <mat-error *ngIf="form.controls.confirm.errors?.minlength">
            {{'errors.valueIsTooShort' | locale | async}}
        </mat-error>
    </mat-form-field>

    <div fxLayout="row"
         fxLayoutGap="15px"
         *ngIf="form.dirty">
        <button mat-raised-button
                class="mat-spinner-button"
                color="primary"
                type="submit">
            <div>
                {{'en_Save' | locale | async}}
            </div>
            <mat-spinner diameter="24"
                         *ngIf="isSaving"></mat-spinner>
        </button>
        <a mat-button
           color="primary"
           type="button"
           [routerLink]="['/tools']">{{'en_Cancel' | locale | async}}</a>
    </div>
</form>
