@use '@angular/material' as mat;
@import '~styles/colors';

:host {
    section {
        padding: 24px;
    }

    .mat-list-item {
        .mat-icon {
            color: mat.get-color-from-palette($warn);
        }
    }

    .mat-list-item.complete {
        .mat-icon {
            color: green;
        }
    }
}
