<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <app-sidenav-toggle></app-sidenav-toggle>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<section>
    <div fxLayout="column">

        <div>
            <mat-list>
                <mat-list-item *ngFor="let lang of languages"
                               [class.complete]="lang.completion === 100">
                    <mat-icon mat-list-icon>{{lang.completion === 100 ? 'check_circle' : 'warning'}}</mat-icon>
                    <h4 mat-line>{{lang.name}} {{lang.code}}: <strong>{{lang.i18nName}}</strong></h4>
                    <p mat-line
                       fxLayout="row"
                       fxLayoutGap="24px"
                       fxLayoutAlign="start center">

                        <mat-progress-bar mode="determinate"
                                          [value]="lang.completion"
                                          [color]="lang.completion === 100 ? 'accent' : 'warn'"></mat-progress-bar>

                        <button mat-button
                                color="primary"
                                (click)="export(lang)"> EXPORT </button>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</section>
