@use '@angular/material' as mat;
@import '~styles/colors';

:host {
    .mat-icon {
        color: mat.get-color-from-palette($primary);
        font-size: 200px;
        width: 200px;
        height: 200px;
    }


}
