<div class="empty-state"
     fxFlex
     fxLayout="column"
     fxLayoutAlign="center center">

    <div>
        <mat-icon [class.warn]="!isAuthenticated">warning</mat-icon>
    </div>

    <ng-container *ngIf="isAuthenticated">
        <ng-container *ngIf="documents.length === 0">
            <h1>
                {{'Common_NoSavedDocuments' | translate}}
            </h1>
        </ng-container>

        <ng-container *ngIf="documents.length > 0">
            <h1>
                {{'Common_SelectADocument' | translate}}
            </h1>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!isAuthenticated">
        <div fxLayout="column"
             fxLayoutAlign="center center"
             class="context">
            <h1>
                {{'Common_PleaseLogIn' | translate}}
            </h1>

            <div class="login-link">
                <a mat-button
                   color="primary"
                   (click)="login()">
                    - {{'Common_Login' | translate}} -
                </a>
            </div>
        </div>
    </ng-container>

    <div fxLayout="row"
         fxLayoutGap="24px">
        <button mat-raised-button
                color="accent"
                (click)="onCreateDocument()">
            <ng-container *ngIf="isAuthenticated">
                {{'Common_CreateDocument' | translate}}
            </ng-container>

            <ng-container *ngIf="!isAuthenticated">
                {{'Common_ContinueWithoutSaving' | translate}}
            </ng-container>
        </button>

        <ng-container *ngIf="isAuthenticated">
            <button mat-raised-button
                    color="accent"
                    (click)="onImport()">
                {{'Common_ImportDocument' | translate}}
            </button>
        </ng-container>
    </div>
</div>
