<div class="empty-state"
     fxFlex
     fxLayout="column"
     fxLayoutAlign="center center">

    <div>
        <mat-icon [class.warn]="!isAuthenticated">warning</mat-icon>
    </div>

    <ng-container *ngIf="isAuthenticated">
        <ng-container *ngIf="documents.length === 0">
            <h1 i18n="en-You_have_no_saved_documents">
                {{'Common_NoSavedDocuments' | locale | async}}
            </h1>
        </ng-container>

        <ng-container *ngIf="documents.length > 0">
            <h1 i18n="en-Please_select_a_document">
                {{'Common_SelectADocument' | locale | async}}
            </h1>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!isAuthenticated">
        <div fxLayout="column"
             fxLayoutAlign="center center"
             class="context">
            <h1>
                {{'Common_PleaseLogIn' | locale | async}}
            </h1>

            <div class="login-link">
                <a [routerLink]="['/login']">
                    - {{'Common_Login' | locale | async}} -
                </a>
            </div>
        </div>
    </ng-container>

    <div fxLayout="row"
         fxLayoutGap="24px">
        <button mat-raised-button
                color="accent"
                (click)="onCreateDocument()"
                i18n="en-Create_Document">
            <ng-container *ngIf="isAuthenticated">
                {{'Common_CreateDocument' | locale | async}}
            </ng-container>

            <ng-container *ngIf="!isAuthenticated">
                {{'Common_ContinueWithoutSaving' | locale | async}}
            </ng-container>
        </button>

        <ng-container *ngIf="isAuthenticated">
            <button mat-raised-button
                    color="accent"
                    (click)="onImport()"
                    i18n="en-Import_Document">
                {{'Common_ImportDocument' | locale | async}}
            </button>
        </ng-container>
    </div>
</div>
