@use '@angular/material' as mat;
@import 'styles/colors';
:host {
    display: block;
    height: 100%;

    .empty-state {
        h1 {
            text-align: center;
            font-size: 24px;
            font-weight: normal;
        }

        .login-link {
            margin-bottom: 24px;
        }

        .mat-icon {
            color: rgba(mat.get-color-from-palette($accent), 0.3);
            font-size: 200px;
            height: 200px;
            width: 200px;
            user-select: none;

            &.warn {
                color: rgba(mat.get-color-from-palette($warn), 0.3);
            }
        }
    }
}
