:host {
    display: block;

    .map-loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    .esri-view {
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
      }
      #mapViewNode {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }
}
