<div mat-dialog-title
     translate>
    Common_NeedHelp
</div>
<div mat-dialog-content>
    <p><span translate>Common_SendAnEmailTo</span>:</p>
    <a href="mailto:support@genmapper.com"
       target="_blank">
        <pre><code>support@genmapper.com</code></pre>
    </a>
</div>

<div mat-dialog-actions
     fxLayoutAlign="end"
     fxLayoutGap="25px">

    <button mat-button
            color="primary"
            mat-dialog-close>
        <span translate>Common_Ok</span>
    </button>
</div>
