<div mat-dialog-title>
    <ng-container *ngIf="data.isFeedback; then feedbackTemp else helpTemp"></ng-container>
    <ng-template #feedbackTemp>
        {{'en_SendFeedback' | locale | async}}
    </ng-template>
    <ng-template #helpTemp>
        {{'en_NeedHelp' | locale | async}}
    </ng-template>
</div>
<div mat-dialog-content>

    <form fxLayout="column"
          fxLayoutGap="24px"
          [formGroup]="form">

        <ng-container *ngIf="!data.authenticated">
            <mat-form-field>
                <mat-label>
                    {{'en_Name' | locale | async}}
                </mat-label>
                <input matInput
                       formControlName="name" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>
                    {{'en_Email' | locale | async}}
                </mat-label>
                <input matInput
                       required
                       formControlName="email" />

                <mat-error *ngIf="form.controls.email.errors?.pattern">
                    {{'errors.emailFormat' | locale | async}}
                </mat-error>

                <mat-error *ngIf="form.controls.email.errors?.required">
                    {{'errors.requiredField' | locale | async}}
                </mat-error>
            </mat-form-field>
        </ng-container>

        <mat-form-field>
            <textarea matInput
                      required
                      formControlName="content"
                      placeholder="{{data.isFeedback ? 'Feedback' : 'How can we help you?'}}"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="30"></textarea>

            <mat-error *ngIf="form.controls.content.errors?.required">
                {{'errors.requiredField' | locale | async}}
            </mat-error>
        </mat-form-field>
    </form>

    <p>
        {{'messages.orSendEmailTo' | locale | async}}:
    </p>
    <ng-container *ngIf="data.isFeedback; then feedbackEmail else supportEmail"></ng-container>

    <ng-template #feedbackEmail>
        <pre><code>feedback@noplaceleft.tools</code></pre>
    </ng-template>

    <ng-template #supportEmail>
        <pre><code>support@noplaceleft.tools</code></pre>
    </ng-template>
</div>

<div mat-dialog-actions
     fxLayoutAlign="end"
     fxLayoutGap="25px">

    <button mat-raised-button
            class="mat-spinner-button"
            color="primary"
            type="button"
            (click)="onSubmit()">
        <div>
            {{'en_Send' | locale | async}}
        </div>
        <mat-spinner *ngIf="isLoading"
                     diameter="24"></mat-spinner>
    </button>

    <button mat-button
            color="primary"
            mat-dialog-close>
        {{'en_Cancel' | locale | async}}
    </button>
</div>
