<button mat-icon-button
        [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="onImport()">
        <mat-icon>attachment</mat-icon>
        {{'menu.importXlsxCsv' | locale : true}}
    </button>
    <button mat-menu-item
            (click)="onExport()">
        <mat-icon>cloud_download</mat-icon>
        {{'menu.exportCsv' | locale | async}}
    </button>
    <!-- <button mat-menu-item
            disabled
            (click)="onPrintHorizontal()">
        <mat-icon>print</mat-icon>
        {{'menu.btnPrintHorizontal' | locale : true}}
    </button>

    <button mat-menu-item
            disabled
            (click)="onPrintVertical()">
        <mat-icon>print</mat-icon>
        {{'menu.btnPrintVertical' | locale : true}}
    </button> -->

    <!-- <button mat-menu-item
            (click)="onSettingsButtonClick()">
        <mat-icon>settings</mat-icon>
        {{'menu.btnSettings' | locale : true}}
    </button> -->

    <button mat-menu-item
            (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        {{'menu.btnDelete' | locale : true}}
    </button>
</mat-menu>
