@use '~@angular/material' as mat;
@import '~styles/colors';

:host {
    font-size: 120%;

    .field-error {
        line-height: 1.5;
    }

    .mat-icon.icon-check {
        display: none;
    }

    .error {
        color: mat.get-color-from-palette($warn);
    }

    .success {
        .mat-icon.icon-info {display: none;}
        .mat-icon.icon-check {
            display: inline-block;
            color: green;
        }
    }
}
