<div class="field-error noMatch"
     *ngIf="showNoMatch"
     [class.error]="control.hasError('noMatch')"
     [class.success]="control.value && !control.hasError('noMatch')">
    <mat-icon class="icon-info">info</mat-icon>
    <mat-icon class="icon-check">check_circle</mat-icon>
    Must match password
</div>
<div class="field-error minlength"
     *ngIf="showMinlength"
     [class.error]="control.hasError('minlength')"
     [class.success]="control.value && !control.hasError('minlength')">
    <mat-icon class="icon-info">info</mat-icon>
    <mat-icon class="icon-check">check_circle</mat-icon>
    6 or more characters long
</div>
<div class="field-error lowerCase"
     *ngIf="showLowercase"
     [class.error]="control.hasError('lowerCase')"
     [class.success]="control.value && !control.hasError('lowerCase')">
    <mat-icon class="icon-info">info</mat-icon>
    <mat-icon class="icon-check">check_circle</mat-icon>
    1 Lowercase letter
</div>
<div class="field-error upperCase"
     *ngIf="showUppercase"
     [class.error]="control.hasError('upperCase')"
     [class.success]="control.value && !control.hasError('upperCase')">
    <mat-icon class="icon-info">info</mat-icon>
    <mat-icon class="icon-check">check_circle</mat-icon>
    1 Uppercase letter
</div>
<div class="field-error number"
     *ngIf="showNumber"
     [class.error]="control.hasError('number')"
     [class.success]="control.value && !control.hasError('number')">
    <mat-icon class="icon-info">info</mat-icon>
    <mat-icon class="icon-check">check_circle</mat-icon>
    1 Number
</div>
<div class="field-error specialCharacter"
     *ngIf="showSpecialCharacter"
     [class.error]="control.hasError('specialCharacter')"
     [class.success]="control.value && !control.hasError('specialCharacter')">
    <mat-icon class="icon-info">info</mat-icon>
    <mat-icon class="icon-check">check_circle</mat-icon>
    1 Special Character
</div>
