<div fxLayout="column"
     fxLayoutGap="24px">
    <app-npl-logo size="100"></app-npl-logo>
    <form fxLayout="column"
          fxLayoutGap="24px"
          [formGroup]="form"
          (submit)="onSubmit($event)">

        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{'Common_Login' | translate}}
                </mat-card-title>
            </mat-card-header>

            <mat-card-content fxLayout="column"
                              fxLayoutGap="30px">
                <mat-form-field>
                    <input matInput
                           #emailField
                           type="email"
                           placeholder="{{'Common_Email' | translate}}"
                           formControlName="email">

                    <mat-error *ngIf="form.controls.email.errors?.required">
                        {{'Error_requiredField' | translate}}
                    </mat-error>

                    <mat-error *ngIf="form.controls.email.errors?.pattern">
                        {{'Error_emailFormat' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           #passwordField
                           type="password"
                           placeholder="{{'Common_Password' | translate}}"
                           formControlName="password">

                    <mat-hint align="end">
                        <a [routerLink]="['/recover-password']">
                            {{'Common_ForgotPassword' | translate}}
                        </a>
                    </mat-hint>
                </mat-form-field>

            </mat-card-content>

            <mat-card-content *ngIf="showError"
                              class="error">
                <p>{{'Error_invalidEmailOrPassword' | translate}}</p>
            </mat-card-content>

            <mat-card-actions fxLayout="row">
                <button mat-raised-button
                        type="submit"
                        color="primary"
                        class="mat-spinner-button">
                    <div>
                        {{'Common_Login' | translate}}
                    </div>
                    <mat-spinner diameter="24"
                                 *ngIf="isLoading"></mat-spinner>
                </button>

                <a mat-button
                   type="button"
                   color="primary"
                   [routerLink]="['/']">
                    {{'Common_Cancel' | translate}}
                </a>
                <div fxFlex></div>
                <a mat-button
                   [routerLink]="['/signup']">
                    {{'Common_CreateAccount' | translate}}
                </a>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
