@import '~styles/colors';

:host {
    display: column;
    margin: 100px auto 0 auto;

    app-npl-logo {
        margin-top: -64px;
    }

    .error {
        color: mat-color($warn);
    }

    .mat-card {
        width: 70vw;
        min-width: 300px;
        max-width: 600px;
    }
}
