@use '@angular/material' as mat;
@import 'styles/colors';

:host {
    display: flex;
    flex-direction: column;
    margin: 100px auto 0 auto;

    app-npl-logo {
        margin-top: -64px;
    }

    .error {
        color: mat.get-color-from-palette($warn);
    }

    .mat-card {
        max-width: 600px;
    }

    @media screen and (min-width: 768px) {
        .mat-card {
            width: 70vw;
        }
    }
}
