@import '~styles/colors';

:host {
    display: flex;
    margin: 100px auto 0 auto;

    .error {
        color: mat-color($warn);
    }

    .mat-card {
        width: 70vw;
        min-width: 300px;
        max-width: 600px;
    }
}
