@use '@angular/material' as mat;
@import 'styles/mixins';
@import 'styles/colors';

:host {
    @include dialog();

    a {
        font-size: 24px;
        font-weight: bold;
    }

    pre {
        color: mat.get-color-from-palette($accent);
    }
}
