@use '@angular/material' as mat;
@import '~styles/colors';

:host {
    h3 {
        color: mat.get-color-from-palette($warn);
        margin: 0 auto 0 0;
    }

    .mat-icon {
        color: mat.get-color-from-palette($warn);
        margin-left: 15px;
    }
}
