<header>
    <mat-toolbar color="primary">
        <app-sidenav-toggle></app-sidenav-toggle>

        {{template.title}}
    </mat-toolbar>
</header>

<section>
    <mat-nav-list fxFlex>
        <ng-container *ngFor="let doc of documents; let last=last">
            <mat-list-item (click)="selectDocument(doc)">
                <h4 mat-line>{{doc.title}}</h4>
                <p mat-line> {{doc.createdAt | date}} </p>
                <mat-icon>chevron_right</mat-icon>
            </mat-list-item>
            <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
    </mat-nav-list>
</section>