<button
    mat-icon-button
    [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button
        mat-menu-item
        (click)="onImport()">
        <mat-icon>attachment</mat-icon>
        {{ 'Menu_importXlsxCsv' | translate }}
    </button>
    <button
        mat-menu-item
        (click)="onExport()">
        <mat-icon>cloud_download</mat-icon>
        {{ 'Menu_exportCsv' | translate }}
    </button>
    <button
        mat-menu-item
        (click)="migrate()">
        <mat-icon>send</mat-icon>
        <span>Migrate to GAPP</span>
    </button>
    <!-- <button mat-menu-item
            disabled
            (click)="onPrintHorizontal()">
        <mat-icon>print</mat-icon>
        {{'Menu_btnPrintHorizontal' | translate}}
    </button>

    <button mat-menu-item
            disabled
            (click)="onPrintVertical()">
        <mat-icon>print</mat-icon>
        {{'Menu_btnPrintVertical' | translate}}
    </button> -->

    <!-- <button mat-menu-item
            (click)="onSettingsButtonClick()">
        <mat-icon>settings</mat-icon>
        {{'Common_Settings' | translate}}
    </button> -->
    <button
        mat-menu-item
        (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        {{ 'Common_Delete' | translate }}
    </button>

    <button
        mat-menu-item
        (click)="onEdit()">
        <mat-icon>edit</mat-icon>
        {{ 'Common_Edit' | translate }}
    </button>
</mat-menu>
