<div fxLayout="column"
     fxLayoutGap="24px">

    <app-npl-logo></app-npl-logo>

    <ng-container *ngIf="!success">
        <form fxLayout="column"
              fxLayoutAlign="center center"
              [formGroup]="form"
              (submit)="onSubmit($event)">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Forgot Password
                    </mat-card-title>
                    <mat-card-subtitle>
                        Please enter your account email.
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content fxLayout="column"
                                  fxLayoutGap="24px">

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput
                               formControlName="email"
                               type="email"
                               placeholder="name@example.com" />

                        <mat-error *ngIf="form.controls.email.errors?.required">
                            This field is required
                        </mat-error>

                        <mat-error *ngIf="form.controls.email.errors?.pattern">
                            Please use valid email format
                        </mat-error>

                        <mat-error *ngIf="form.controls.email.errors?.noMatch">
                            Email does not exist
                        </mat-error>
                    </mat-form-field>

                    <div fxLayout="row"
                         fxLayoutGap="15px">
                        <button mat-raised-button
                                color="primary"
                                type="submit">Email a recovery link</button>
                        <a mat-button
                           color="primary"
                           type="button"
                           [routerLink]="['/login']">Cancel</a>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </ng-container>

    <ng-container *ngIf="success">
        <div class="success-container"
             fxLayout="column"
             fxLayoutGap="24px">
            <h1>
                Recover Password
            </h1>
            <p>
                An email with a recovery link has been sent to <span class="email">{{form.get('email').value}}</span>.
            </p>
            <div fxLayout="row"
                 fxLayoutAlign="space-between">
                <button mat-stroked-button
                        color="primary"
                        type="button"
                        [routerLink]="['/login']">
                    Return to Login
                </button>

                <button mat-button
                        color="accent"
                        type="button"
                        (click)="onSubmit($event)">
                    Resend recovery link
                </button>
            </div>
        </div>
    </ng-container>
</div>
