<div fxLayout="column"
     fxLayoutGap="24px">

    <app-npl-logo></app-npl-logo>

    <ng-container *ngIf="!success">
        <form fxLayout="column"
              fxLayoutAlign="center center"
              [formGroup]="form"
              (submit)="onSubmit($event)">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{'en_ForgotPassword' | locale | async}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{'messages.enterAccountEmail' | locale | async}}
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content fxLayout="column"
                                  fxLayoutGap="24px">

                    <mat-form-field>
                        <mat-label>
                            {{'en_Email' | locale | async}}
                        </mat-label>
                        <input matInput
                               formControlName="email"
                               type="email"
                               placeholder="name@example.com" />

                        <mat-error *ngIf="form.controls.email.errors?.required">
                            {{'errors.requiredField' | locale | async}}
                        </mat-error>

                        <mat-error *ngIf="form.controls.email.errors?.pattern">
                            Please use valid email format
                        </mat-error>

                        <mat-error *ngIf="form.controls.email.errors?.noMatch">
                            {{'errors.emailNotFound' | locale | async}}
                        </mat-error>
                    </mat-form-field>

                    <div fxLayout="row"
                         fxLayoutGap="15px">
                        <button mat-raised-button
                                color="primary"
                                type="submit">
                            {{'messages.emailRecoveryLink' | locale | async}}
                        </button>
                        <a mat-button
                           color="primary"
                           type="button"
                           [routerLink]="['/login']">
                            {{'en_Cancel' | locale | async}}
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </ng-container>

    <ng-container *ngIf="success">
        <div class="success-container"
             fxLayout="column"
             fxLayoutGap="24px">
            <h1>
                {{'messages.recoverPassword' | locale | async}}
            </h1>
            <p>
                {{'messages.emailSentTo' | locale | async}} <span class="email">{{form.get('email').value}}</span>.
            </p>
            <div fxLayout="row"
                 fxLayoutAlign="space-between">
                <button mat-stroked-button
                        color="primary"
                        type="button"
                        [routerLink]="['/login']">
                    {{'en_ReturnToLogin' | locale | async}}
                </button>

                <button mat-button
                        color="accent"
                        type="button"
                        (click)="onSubmit($event)">
                    {{'messages.resendRecoveryLink' | locale | async}}
                </button>
            </div>
        </div>
    </ng-container>
</div>
