@import '~styles/colors';

:host {
    display: flex;
    margin: 100px auto 0 auto;

    app-npl-logo {
        margin-top: -64px;
    }

    .mat-card {
        width: 70vw;
        min-width: 300px;
        max-width: 600px;
    }

    .email {
        font-weight: bold;
        color: mat-color($primary);
    }
}
