<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <app-sidenav-toggle></app-sidenav-toggle>
        </mat-toolbar-row>
        <mat-toolbar-row fxLayout="row"
                         fxLayoutAlign="center center">
            <app-npl-logo size="100"></app-npl-logo>
        </mat-toolbar-row>
    </mat-toolbar>
</header>


<section fxLayout="column"
         fxLayoutGap="50px">

    <div>
        <p>
            GenMapper Service Agreement
        </p>

        <p>
            This GenMapper User Agreement (“Agreement”) is between you (“User”) and TaEthni OÜ “TAETHNI” and governs
            User’s use of the GenMapper app and services. User accepts this Agreement by using GenMapper. TAETHNI may
            change this Agreement at any time with notice of such change by updating the terms and conditions of the
            GenMapper service published at https://noplaceleft.tools/ela. User is responsible for reviewing the terms
            and conditions from time to time, and to remain compliant with any changes. If User does not consent to this
            Agreement, please cease use immediately.
            The GenMapper app (“service” or “services”) is developed by TAETHNI as a subscription offering. TAETHNI may
            suspend access to a Service at any time for any reason and may be discontinued at any time without notice,
            but will TAETHNI will make reasonable effort to deliver the user’s data before access is denied.
        </p>
        <br />
        <p>
            Reservation of Ownership and Grant of Rights
        </p>
        <p>
            Under this Agreement, TAETHNI grants to User a personal, revocable, nonexclusive, nontransferable right to
            use Services for User’s use solely at User’s own risk and discretion. User does not receive title to or
            ownership of Services, user documentation, or TAETHNI trademarks here under. User may view, use, copy,
            reproduce, publish, publicly display, or redistribute map images derived from Services in hard copy or
            static, electronic formats (e.g., PBIX, PDF, GIF, JPEG) if you retain the trademarks and attributions on the
            map image. TAETHNI reserve all rights not expressly granted herein.

        </p>

        <p>
            User hereby grants TAETHNI and its service providers a nonexclusive, nontransferable, worldwide right to
            host, run, and reproduce User’s data for the purpose of enabling User to use Services. User hereby grants
            TAETHNI rights to aggregate data for use of updating peoplegroups.org. Without User’s permission, TAETHNI
            will not access, use, or disclose User’s Personal Identifiable data except to comply with the law or any
            court or government order. User retains all right, title, and interest in User’s data. TAETHNI’s privacy
            policy can be found at TAETHNI's privacy statement.
        </p>
        <br />
        <p>
            Uses not Permitted
        </p>
        <p>
            Unless specifically permitted by a Service, User may not
        </p>

        <div>
            (i) reverse engineer, decompile or disassemble, Services;
        </div>
        <div>
            (ii) manually or systematically collect or scrape data from Services;
        </div>
        <div>
            (iii) benchmark the availability, performance, or functionality of Services for competitive purposes;
        </div>
        <div>
            (iv) probe, scan, or test the vulnerability of Services or breach any security or authentication measures
            used by Services;
        </div>
        <div>
            (v) use Services for real-time, dynamic routing purposes (e.g. turn-by-turn directions);
        </div>
        <div>
            (vi) remove or obscure any TAETHNI patent, copyright, trademark, proprietary rights notices, or legends
            contained in or affixed to any Services or any associated documentation, metadata file, or output;
        </div>
        <div>
            (vii) sell, rent, lease, time- share, assign, publish, disclose, display, or otherwise make available
            Services, or components thereof, in any form, to any person or entity without the written permission of an
            authorized TAETHNI representative;
        </div>
        <div>
            (viii) use Services to process, store, transmit, or enable access to any information, data, or technology
            controlled for export under the International Traffic in Arms (ITAR) regulations;
        </div>
        <div>
            (ix) use Services to process, store, transmit, or enable access to any covered defense information (CDI)
            under DFARS subpart 204.73, or is protected health information (PHI) under the Health Insurance Portability
            and Accountability Act (HIPAA); or (xi) use or authorize others to use the data from Services for direct
            marketing purposes, resale publication, or distribution to any third party as part of any mailing list,
            directory, classified advertising, or other compilation of information.
        </div>
        <br />
        <p>
            Term and Termination
        </p>

        <p>
            The Agreement is effective upon acceptance and will continue until such time that:
        </p>

        <div>
            (i) User discontinues use of Services;
        </div>
        <div>
            (ii) TAETHNI discontinues the Service or;
        </div>
        <div>
            (iii) TAETHNI terminates User’s right to use Services.
        </div>

        <p>
            TAETHNI may terminate User’s right to use Services immediately, without notice or opportunity to cure, for
            User’s breach of this Agreement.
        </p>

        <p>
            Disclaimer of Warranty and Limitation of Liability
        </p>

        <p>
            User’s access and use of Service’s is at User’s own risk, and Services
            are not supported by any technical support.
        </p>

        <p>
            Services are provided “AS-IS” without any warranty of any kind, express or implied, including, but not
            limited
            to, the warranties of merchantability, fitness for a particular purpose, or noninfringement of intellectual
            property rights. Services are not designed, manufactured, or intended for use in environments or
            applications
            that may lead to death, personal injury, or physical property/environmental damage. TAETHNI is not
            responsible
            for any claims, demands, actions, damages, liabilities, or losses that may result from any
        </p>

        <div>
            (i) use of;
        </div>
        <div>
            (ii) interruption or suspension of Services.
        </div>

        <p>
            In no event will TAETHNI be liable to User for direct, indirect, special, incidental, or consequential
            damages
            related to User’s access or use of Services, even if TAETHNI has been advised of the possibility of such
            damage.
        </p>

        <p>
            These limitations shall apply notwithstanding any failure of essential purpose of any limited remedy.
        </p>

        <p>
            US Export Control
        </p>
        <p>
            User may not export, reexport, import, transfer, release, or provide access to Services to
        </p>

        <div>
            (i) any US embargoed country;
        </div>
        <div>
            (ii) any person on the US Treasury Department’s list of Specially Designated Nationals;
        </div>
        <div>
            (iii) any person or entity on the US Commerce Department’s Denied Persons List, Entity List, or Unverified
            List;
        </div>
        or
        <div>
            (iv) any person or entity or into any country where such export, reexport, access, or import violates any
            US, local, or other applicable import/export control laws or regulations including but not limited to, the
            terms of any import/export license or license exemption and any amendments and supplemental additions to
            those import/export laws as they may occur from time to time.
        </div>

        <p>
            General Provisions
        </p>

        <p>
            The failure of TAETHNI to enforce any provision of this Agreement will not be deemed a waiver of the
            provision of a waiver of TAETHNI’s right thereafter to enforce that provision or any other provision. User
            agrees that
            if any provision of this Agreement is held to be unenforceable. User will not assign, sublicense, or
            transfer
            any rights or obligations under this Agreement and any attempt to do so without consent will be void. US
            federal
            law govern this Agreement, excluding their respective choice of law principles. This Agreement is not
            subject to
            the United Nations Convention on Contracts for the International Sale of Goods.
        </p>
    </div>

    <ng-container *ngIf="!user.agreementDate">
        <div fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="24px">
            <mat-checkbox [formControl]="checkbox">
                I Accept
            </mat-checkbox>

            <div fxFlex></div>

            <div>
                <button mat-raised-button
                        class="mat-spinner-button"
                        color="primary"
                        (click)="save()"
                        [disabled]="!checkbox.dirty && checkbox.invalid">
                    <div>
                        {{'Common_Save' | locale | async}}
                    </div>
                    <mat-spinner diameter="24"
                                 *ngIf="isSaving"></mat-spinner>
                </button>
                <a mat-button
                   color="primary"
                   type="button"
                   [routerLink]="['/tools']">{{'Common_Cancel' | locale | async}}</a>
            </div>
        </div>
    </ng-container>
</section>
