<h1 mat-dialog-title>Edit [{{model.name}}]</h1>
<div mat-dialog-content>
    <app-edit-node-form [fields]="fields"
                        [model]="model"
                        (change)="onFormChange($event)"></app-edit-node-form>
</div>
<div mat-dialog-actions>
    <button mat-button
            color="accent"
            cdkFocusInitial
            (click)="onSubmit()">Submit</button>
    <button mat-button
            color="primary"
            (click)="onImportSubtree()">
        Import Subtree
    </button>
    <div fxFlex></div>
    <button mat-button
            color="warn"
            (click)="onCancel()">Cancel</button>
</div>