<div mat-dialog-title>
    {{ title }}
</div>
<div mat-dialog-content>
    <ng-container *ngIf="alert">
        <p class="dialog-alert">{{alert}}</p>
    </ng-container>
    <ng-container *ngIf="content && content.length">
        <p *ngFor="let text of content">
            {{text}}
        </p>
    </ng-container>
    <ng-container *ngIf="prompt">
        <p>{{ prompt }}</p>
    </ng-container>
</div>
<div mat-dialog-actions
     fxLayoutAlign="end">
    <button mat-button
            color="accent"
            *ngIf="buttons.length >= 1"
            [mat-dialog-close]="true">
        {{buttons[0]}}
    </button>
    <button mat-button
            color="warn"
            *ngIf="buttons.length >= 2"
            [mat-dialog-close]="false">
        {{buttons[1]}}
    </button>
</div>
