@use '@angular/material' as mat;
@import 'styles/colors';

:host {
    display: block;
    position: relative;

    input {
        pointer-events: all;
        line-height: 40px;
        font-size: 24px;
        font-weight: 600;
        width: calc(100% - 10px);
        padding: 0 5px;

        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.04);
        border: 1px solid transparent;

        &:focus {
            border-color: $gray;
            background-color: white;
        }

        &.is-error {
            color: mat.get-color-from-palette($warn);
        }
    }

    .mat-error {
        font-size: 12px;
        line-height: 1;
        position: absolute;
        left: 6px;
        bottom: -14px;
    }
}
