/* You can add global styles to this file, and also import other style files */
@import "~styles/colors";
@import "~styles/mat-overrides";
// @import "roboto-fontface/css/roboto/roboto-fontface.css";
@include mat-core();
@include angular-material-theme($theme);

html,
body {
    margin: 0;
    font-family: "Roboto";
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

// App structure
html {
    position: relative;
    height: 100%;

    body {
        height: 100%;

        app-root {
            height: 100%;

            app-layout {
                height: 100%;

                mat-sidenav-container {
                    height: 100%;

                    mat-drawer {
                        backface-visibility: hidden;
                    }

                    app-gen-mapper-container {
                        height: 100%;

                        mat-drawer-container {
                            height: 100%;

                            mat-drawer {
                                backface-visibility: hidden;
                            }

                            app-gen-mapper {
                                height: 100%;

                                app-gen-mapper-graph {
                                    height: 100%;
                                }

                                app-gen-mapper-map {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

a:not(.mat-button-base) {
    text-decoration: none;

    &,
    &:visited {
        color: mat-color($primary);
    }

    &:hover {
        opacity: 0.5;
    }
}

.mat-form-field[no-error] {
    .mat-form-field-wrapper {
        padding-bottom: 0;

        .mat-form-field-underline {
            bottom: 0;
        }
    }
}

.mat-form-field[no-label] {
    .mat-form-field-infix {
        border: 0;
    }
}

input[no-wheel] {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type="number"] {
        -moz-appearance: textfield;
    }
}
