/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import './styles/colors';
@import './styles/mat-overrides';

$roboto-font-path: '~roboto-fontface/fonts' !default;
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/' !default;
@import 'material-design-icons-iconfont/src/material-design-icons';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@include mat.all-legacy-component-themes($theme);
@include mat.all-legacy-component-typographies($typography);

@import 'https://js.arcgis.com/4.20/@arcgis/core/assets/esri/themes/light/main.css';

html,
body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

// App structure
html {
    position: relative;
    height: 100%;

    body {
        height: 100%;

        app-root {
            height: 100%;

            app-layout {
                height: 100%;

                mat-sidenav-container {
                    height: 100%;

                    mat-drawer {
                        backface-visibility: hidden;
                    }

                    app-gen-mapper-container {
                        height: 100%;

                        mat-drawer-container {
                            height: 100%;

                            mat-drawer {
                                backface-visibility: hidden;
                            }

                            app-gen-mapper {
                                height: 100%;

                                app-gen-mapper-graph {
                                    height: 100%;
                                }

                                app-gen-mapper-map {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

a:not(.mat-button-base) {
    text-decoration: none;

    &,
    &:visited {
        color: mat.get-color-from-palette($primary);
    }

    &:hover {
        opacity: 0.5;
    }
}

.mat-form-field[no-error] {
    .mat-form-field-wrapper {
        padding-bottom: 0;

        .mat-form-field-underline {
            bottom: 0;
        }
    }
}

.mat-form-field[no-label] {
    .mat-form-field-infix {
        border: 0;
    }
}

input[no-wheel] {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type='number'] {
        -moz-appearance: textfield;
    }
}

.text-center {
    text-align: center;
}

.mute {
    opacity: 0.7;
}

.text-warn {
    color: mat.get-color-from-palette($warn);
}

.text-alert {
    color: orange;
}

.text-success {
    color: mat.get-color-from-palette($success);
}
