/* You can add global styles to this file, and also import other style files */
@import '~styles/colors';

@include mat-core($typography);
@include angular-material-theme($theme);


html,body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto';
}

a {
    text-decoration: none;

    &,&:visited {
        color: mat-color($primary);
    }

    &:hover {
        opacity: 0.5;
    }
}

.mat-form-field[no-error] {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        
        .mat-form-field-underline {
            bottom: 0;
        }
    }
}

.mat-form-field[no-label] {
    .mat-form-field-infix {
        border: 0;
    }
}