@use '@angular/material' as mat;
@import '~styles/mixins';
@import '~styles/colors';

:host {
    @include dialog();

    .dialog-alert {
        color: mat.get-color-from-palette($warn);
        font-weight: 600;
    }

    ul.list-items {
        list-style: none;
        padding-left: 16px;

        li {
            padding: 5px;
            color: mat.get-color-from-palette($warn);
            background: $lightest-gray;
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        }
    }
}
