<div mat-dialog-title>
    {{ title }}
</div>
<div mat-dialog-content>
    <ng-container *ngIf="alert">
        <p class="dialog-alert">{{alert}}</p>
    </ng-container>
    <ng-container *ngIf="content && content.length">
        <p *ngFor="let text of content">
            {{text}}
        </p>
    </ng-container>
    <ng-container *ngIf="items && items.length > 0">
        <ul class="list-items">
            <li *ngFor="let item of items">
                [{{item}}]
            </li>
        </ul>
    </ng-container>
    <ng-container *ngIf="prompt">
        <p>{{ prompt }}</p>
    </ng-container>
</div>
<div mat-dialog-actions
     fxLayoutAlign="end"
     fxLayoutGap="24px">
    <button mat-flat-button
            color="primary"
            [mat-dialog-close]="true">
        {{buttons[0]}}
    </button>
    <button mat-flat-button
            color="warn"
            [mat-dialog-close]="false">
        {{buttons[1]}}
    </button>
</div>
