<div mat-dialog-title>
    {{'Common_UpdateDocument' | translate}}
</div>

<form mat-dialog-content
      [formGroup]="form"
      fxLayout="column"
      fxLayoutGap="24px">
    <mat-form-field>
        <mat-label>
            {{'Common_Name' | translate}}
        </mat-label>
        <input matInput
               formControlName="title" />

        <mat-error *ngIf="form.controls.title.errors?.required">
            {{'Error_requiredField' | translate}}
        </mat-error>

        <mat-error *ngIf="form.controls.title.errors?.minlength">
            {{'Error_valueIsTooShort' | translate}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showTeams">
        <mat-label>
            {{'Common_Team' | translate}}
        </mat-label>
        <mat-select formControlName="teamId">
            <mat-option [value]="null">-----</mat-option>
            <mat-option *ngFor="let team of teams$ | async"
                        [value]="team.id">
                {{team.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
<div mat-dialog-actions
     fxLayoutAlign="end">
    <button mat-button
            color="accent"
            class="spinner-button"
            [disabled]="form.invalid"
            (click)="onSubmit()">
        <mat-spinner *ngIf="isUpdating"
                     diameter="24"></mat-spinner>
        <span>{{'Common_Save' | translate}}</span>
    </button>
    <button mat-button
            color="warn"
            [mat-dialog-close]="false">
        {{'Common_Cancel' | translate}}
    </button>
</div>
