<mat-toolbar>
    <mat-toolbar-row>
        <span>
            <ng-container>
                [{{clonedNode?.name || clonedNode?.leaderName || clonedNode?.leadersName || 'No Name'}}]
            </ng-container>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="save-button">
    <div class="animated-button-group"
         [class.slide-down]="form?.dirty"
         fxLayout="row">
        <button mat-raised-button
                color="primary"
                (click)="onSave()"
                fxFlex>
            {{'Common_Save' | locale | async}}
        </button>
        <button mat-button
                color="primary"
                (click)="onCancel()"
                fxFlex>
            {{'Common_Cancel' | locale | async}}
        </button>
    </div>
</div>
<div fxLayout="column"
     class="drawer-content">
    <ng-container *ngIf="form">
        <mat-tab-group fxFlex>
            <mat-tab label="{{'Common_Details' | locale | async}}">
                <app-edit-node-form [form]="form"
                                    [fields]="fields"
                                    [nodes]="document?.nodes"
                                    [model]="clonedNode"
                                    [template]="template"></app-edit-node-form>
            </mat-tab>
            <mat-tab label="{{'Common_PeopleGroups' | locale | async}}">
                <ng-template matTabContent>
                    <app-people-group-selector [group]="form.get('peopleGroupsV2')"
                                               [country]="form.get('country').value"
                                               [template]="template"
                                               [form]="form"></app-people-group-selector>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </ng-container>

    <div fxLayout="row"
         fxLayoutGap="10px"
         class="drawer-actions"
         *ngIf="!hideActions">
        <button mat-stroked-button
                (click)="onCopyNode()">
            {{'Common_Copy' | locale | async}}
        </button>

        <ng-container *ngIf="isNodeInClipboard">
            <mat-menu #pasteMenu="matMenu">
                <button mat-menu-item
                        (click)="onReplaceNode()">
                    {{'Common_ReplaceCurrentNode' | locale | async}}
                </button>
                <button mat-menu-item
                        (click)="onPastAsChildNode()">
                    {{'Common_PasteAsChildNode' | locale | async}}
                </button>
            </mat-menu>
            <button mat-stroked-button
                    [matMenuTriggerFor]="pasteMenu">
                {{'Common_Paste' | locale | async}}
            </button>
        </ng-container>

        <div fxFlex></div>

        <button mat-stroked-button
                color="primary"
                (click)="onImportSubtree()">
            {{'Common_ImportSubtree' | locale | async}}
        </button>
    </div>
    <div fxLayout="row">
        <button *ngIf="node && !node.isRoot"
                mat-raised-button
                fxFlex
                color="warn"
                class="delete-button"
                (click)="onDeleteNode()">
            {{'Common_DeleteSubtree' | locale | async}}
        </button>
    </div>
</div>
