<mat-tab-group backgroundColor="accent"
               color="primary"
               mat-stretch-tabs
               [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="{{'Common_Info' | translate}}">
        <ng-container *ngIf="form">
            <app-node-form [form]="form"
                           [fields]="fields"
                           [nodes]="nodes"
                           [model]="node"
                           (selectPeople)="selectedTabIndex = 1"></app-node-form>
        </ng-container>

        <div fxLayout="column"
             fxLayoutGap="24px"
             class="drawer-inner-footer">

            <div fxLayout="row"
                 *ngIf="!hideActions">
                <button mat-stroked-button
                        (click)="onCopyNode()">
                    {{'Common_Copy' | translate}}
                </button>

                <ng-container *ngIf="isNodeInClipboard">
                    <mat-menu #pasteMenu="matMenu">
                        <button mat-menu-item
                                (click)="onReplaceNode()">
                            {{'Common_ReplaceCurrentNode' | translate}}
                        </button>
                        <button mat-menu-item
                                (click)="onPastAsChildNode()">
                            {{'Common_PasteAsChildNode' | translate}}
                        </button>
                    </mat-menu>
                    <button mat-stroked-button
                            [matMenuTriggerFor]="pasteMenu">
                        {{'Common_Paste' | translate}}
                    </button>
                </ng-container>

                <div fxFlex></div>

                <button mat-stroked-button
                        color="primary"
                        (click)="onImportSubtree()">
                    {{'Common_ImportSubtree' | translate}}
                </button>
            </div>

            <div>
                <button *ngIf="node && !node.isRoot"
                        mat-raised-button
                        fxFlex
                        color="warn"
                        class="delete-button"
                        (click)="onDeleteNode()">
                    {{'Common_DeleteSubtree' | translate}}
                </button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'Common_People' | translate}}">
        <div fxLayout="column"
             fxLayoutGap="24px">
            <mat-action-list>
                <ng-container *ngFor="let people of pendingPeoples | sort: 'attenders':'DES'">
                    <button mat-list-item
                            (click)="selectPeople(people)">
                        <span>{{people.placeOfOrigin}} {{people.label}}</span>
                        <span fxFlex></span>
                        <span>{{people.attenders}}</span>
                    </button>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-action-list>

            <div class="add-button-container">
                <button mat-stroked-button
                        color="primary"
                        fxFlex
                        (click)="addPeopleGroup()">
                    <mat-icon>add</mat-icon> {{'Common_PeopleGroups' | translate}}
                </button>
            </div>
        </div>

    </mat-tab>
</mat-tab-group>

<div class="drawer-footer"
     fxLayout="column">

    <div fxLayout="row"
         fxLayoutGap="10px">
        <button mat-raised-button
                color="primary"
                (click)="onSave()"
                fxFlex
                [disabled]="!form?.dirty">
            {{'Common_Save' | translate}}
        </button>
        <button mat-button
                color="primary"
                (click)="onCancel()"
                fxFlex>
            {{'Common_Cancel' | translate}}
        </button>
    </div>
</div>
